.itemDetailsView {
    .col-6, .col-4, .col-12{
        label:nth-child(1){
            display: block;
            font-size: 12px !important;
            margin-bottom: 0 !important;
            padding-bottom: 0px !important;
            font-weight: 600;
            color: #03A9F4;
            background: #2196f31c;
            margin-top: 6px;
        }
        label:nth-child(2){
            display: block;
            margin-top: -7px !important;
            padding-top: 0 !important;
            color: black;
            letter-spacing: 0px;
            padding-bottom: 2px !important;
            font-weight: 600;
            background: #dddddd59;
            min-height: 26px;
        }
    }
}
