.linkedCls {
    text-decoration: underline;
    color: blue;
    letter-spacing: 0.5px;
}

.unLinkedCls {
    color: #d43434;
    letter-spacing: 0.5px;
}

span.actionIcons i {
    font-size: 14px;
    margin-right: 0;
}