<div class="col-12 pad-nill" #pposRef>
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2>Categories</h2>
        <p><span class="dot"></span>{{categoriesList.length}} Total</p>
      </div>
      <div class="col-sm-6">
        <button *ngIf="loggedUserDetails == 'VendorManager'" class="btn btn-primary btn-blue"
         type="button" (click)="createSubCategory()" style="display: flex; align-items: center;"><i class="fa fa-plus"> </i>  New Category </button>
      </div>
    </div>
  </div>
  <p-table #itemCatalogueTable [columns]="categorieHeaders" [value]="categoriesList" sortMode="multiple"
    [paginator]="true" [rows]="pageRecordSize" id="prqTable" [rowsPerPageOptions]="pageOptions" [scrollHeight]="'calc(100vh - 220px)'"
    [style]="{'min-width': '100%'}" exportFilename="roles details" [(selection)]="selectedData" [scrollable]="true">
    <ng-template pTemplate="caption">
      <div class="table-search">
        <div class="row">
          <div class="col-sm-6">
            <input class="main-input" type="text" pInputText size="50" placeholder="Search.."
              (input)="itemCatalogueTable.filterGlobal($event.target.value, 'contains')" />
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </ng-template>
    <!-- <ng-template pTemplate="caption">
      <div class="col-12 row pad-nill">
        <div class="col-4 pad-nill">
          <h5 class="screen-head">Categories</h5>
        </div>
        <div class="col-8 searchPanel pad-nill">
          <button *ngIf="loggedUserDetails == 'VendorManager'" mat-raised-button color="secondary" cdkFocusInitial
            id="b_new_item_request" color="primary" type="button" (click)="createSubCategory()">Create</button>
          <input type="text" pInputText size="50" placeholder="Search.."
            (input)="itemCatalogueTable.filterGlobal($event.target.value, 'contains')"
            style="width:auto; float: right;" />
        </div>
      </div>
    </ng-template> -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <ng-container *ngFor="let col of columns">
          <th [style.width]="col.width" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </ng-container>
        <th *ngIf="loggedUserDetails == 'VendorManager2'" style="width:13rem">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns" [style.width]="col.width" [ngClass]="{'table-cell-overflow-ellipse' : col.field == 'subCategoryName' ||  col.field == 'categoryName' }">
          <span *ngIf="!col.isLink && col.fieldType != 'date' && col.field != 'subCategoryNumber'">
           <span *ngIf="col.field == 'subCategoryName' ||  col.field == 'categoryName' " [title]="rowData[col.field]"> {{rowData[col.field]}}</span>
           <span *ngIf="col.field != 'subCategoryName' &&  col.field != 'categoryName' "> {{rowData[col.field]}}</span>
          </span>
          <span *ngIf="col.fieldType == 'date'" [title]="rowData[col.field] | date:'dd-MMM-yyyy hh:mm a'">
            {{rowData[col.field] | date: 'dd-MMM-yyyy'}}
          </span>
          <span *ngIf="col.field == 'subCategoryNumber'">
            {{rowData['hsnCode']+rowData['subCategoryNumber']}}
          </span>
        </td>
        <td style="width:13rem" *ngIf="loggedUserDetails == 'VendorManager2'">
          <img class="cursor-pointer" src="/assets/images/new/edit-data.png"  width="28" style="width:28px;margin-right: 10px;" title="Edit Sub Category" (click)="editSubCategory(rowData, editSubCategoryDialog)">

          <button *ngIf="rowData.status == 'New'" type="button" mat-raised-button color="secondary" cdkFocusInitial
            color="primary" (click)="approve(rowData)">Approve</button>
          <button *ngIf="rowData.status == 'New'" type="button" mat-raised-button color="primary" cdkFocusInitial
            color="primary" (click)="reject(rowData)">Reject</button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="5" style="text-align:center;">
          No Records Found.
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="paginatorleft">
      <div *ngIf="categoriesList?.length > 0">
        <app-page-info [totalRecords]="categoriesList.length" [pageData]="paginatoryDetails"></app-page-info>
      </div>
    </ng-template> -->
  </p-table>
</div>


<ng-template #editSubCategoryDialog>
  <form (submit)="updateSubCategoryData(editSubCatForm)" name="editSubCatForm" #editSubCatForm="ngForm" novalidate>
    <mat-dialog-content>
      <div class=" border-bottom col-12 h5 p-2">
        Update Sub Category Details
      </div>
       <div class="col-12 pb-4">
        <div class="form-group row">

          <div class="col-12">
            <label><b>Sub Category Name</b></label>
            <input  #itemDescription=ngModel [(ngModel)]="subCategoryName" name="description" class="form-control"
               placeholder="Enter Sub Category Name"/>
            <div>
              <small style="color: red" *ngIf="itemDescription.touched && subCategoryName == null">Sub CategoryName is required</small>
            </div>
          </div>
        </div>
      </div>


    </mat-dialog-content>

    <mat-dialog-actions align="end">
      <button type="submit" class="btn btn-success btn-green">Update</button>
      <button type="button" class="btn btn-danger btn-red" mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>
</ng-template>
