<!-- <div class="bg-container container-fluid" style="   background:  linear-gradient(209deg, #e1efff 1.88%, #e1efff 99.65%, #e1efff 10.2%);overflow: hidden;">
    <div class="header-logo row">

        <div class="col-md-4 col-xs-12 text-left">
            <img src="assets/images/new/GMT.svg" width="150" height="150" /> 
        </div>
        <div class="col-md-4 col-xs-12 text-center">
            <img style="" src="assets/images/Procucev_Logo.svg" width="250" height="80" />
            <h3 class="card-title text-center" style="text-align: center;    font-variant: titling-caps;
            font-weight:500;
            color: #3245aa;
            font-size: 1.5rem;"><b>Buyer Registration</b></h3>
        </div>
        <div class="col-md-4 col-xs-12 bfs-logo text-right">
            <img src="assets/images/new/bfs-logo-reg-cl.svg" width="140" height="120" />

        </div>
    </div>
    <div class="row  ">
        <div class="col-md-2"></div>
        <div class=" col-md-8 col-xs-12  ">
            <div class="card " >
                <div class="card-body">
                    <h3 style="color: green; font-size: 14px; font-style: italic;" *ngIf="successMessage">{{successMessage}}
                    </h3>
                    <div  style="color: red;" class="error-block" >
                        <p *ngIf="clientRegForm.controls.india.value == 'true' && clientRegForm.controls?.organizationPhonenumber?.touched && clientRegForm.controls?.organizationPhonenumber?.errors?.invalidPhoneNumber " style="margin-bottom:0 !important;">
                           * Mobile number must be  10 digits and Not Preceeded with 0.</p>
                        <p *ngIf="clientRegForm.controls?.pan?.touched && clientRegForm.controls?.pan?.errors?.pattern ">* Invalid GST Details  </p>
                        <p *ngIf="clientRegForm.controls?.email?.touched && clientRegForm.controls?.email?.errors?.pattern ">* Invalid EmailId  </p>
                    </div>
                    <form name="clientRegForm" [formGroup]="clientRegForm" (ngSubmit)='registerVendor(clientRegForm)'>
                        <div class="row"> 
                            <div class="col-md-6  col-xs-12 mb-1">
                                <label for="companyName">Company Name: <b style="color: red;">*</b></label>
                                <input type="text" id="companyName" class="form-control" name="companyName" placeholder="Company Name"
                                    formControlName="companyName">
                                <div
                                    *ngIf="(clientRegForm.controls.companyName.touched ) && clientRegForm.controls.companyName.errors">
                                    <div style="color: red;">Company Name is required</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 mb-1">
                                <label for="name">Name: <b style="color: red;">*</b></label>
                                <input type="text" required id="name" class="form-control" name="name" formControlName="name" placeholder="Name">
                                <div
                                    *ngIf="(clientRegForm.controls?.name?.touched ) && clientRegForm.controls?.name.errors ">
                                    <div style="color: red;" *ngIf="clientRegForm.controls?.name.errors.required">Name is
                                        required</div>
                                </div>
                            </div>
                            <div class="col-md-12 row" style="    border: 2px solid #80808040;
                            margin: 4px auto;
                            padding-bottom: 16px;">
                                <div class="col-md-4 col-xs-12 mb-1">
                                  <label for="name">Mobile Number: <b style="color: red;">*</b></label>
                                  <input type="text" maxlength="10" minlength="10" id="adress" class="form-control"
                                     name="organizationPhonenumber" formControlName="organizationPhonenumber" placeholder="Mobile Number"  (keypress)="numberOnly($event)"  maxlength="10" minlength="10"  [disabled]="isOTPVerified || isOTPSent">
                                     <span style="font-size: 12px;">(Provide mobile number, so you can access on WhatsApp)</span>
                                  <span style="color: green;" *ngIf="isOTPVerified">Mobile Number Verified</span>
                                  <div
                                      *ngIf="(clientRegForm.controls?.organizationPhonenumber?.touched ) && clientRegForm.controls?.organizationPhonenumber?.errors">
                                      <div *ngIf="(clientRegForm.controls.organizationPhonenumber.errors.required)"
                                          style="color: red;">Mobile
                                          number is required</div>
                                          <div  style="color: red;" *ngIf="clientRegForm.controls?.organizationPhonenumber?.errors?.invalid">
                                              Mobile number must be exactly 10 digits.
                                            </div>
                                  </div>
                              </div>
                              <div class="col-md-4  col-xs-12 mb-1">
                                  <label for="email">Company EMail Id: <b style="color: red;">*</b></label>
                                  <input type="email" required id="email" class="form-control" name="email" placeholder="Company Email Id"
                                      formControlName="email"  [disabled]="isOTPVerified || isOTPSent">
                                      <span style="color: green;" *ngIf="isOTPVerified">EMail Verified</span>
                                  <div
                                      *ngIf="(clientRegForm.controls.email.touched ) && clientRegForm.controls.email.errors">
                                      <div *ngIf="(clientRegForm.controls.email.errors.required)" style="color: red;">Email is
                                          required</div>
                                      <div *ngIf="(clientRegForm.controls.email.errors.invalid || clientRegForm.controls.email.errors.invalidEmail)" style="color: red;">Please enter
                                          valid Email id</div>
                                  </div>
                                  <div>
                                  </div>
                              </div>
                              <div class="col-md-4"  style="    display: flex;align-items: center;">
                                  <button class="btn btn-primary" (click)="sendOTPs()"  type="button" *ngIf="!isOTPVerified">{{isOTPSent? 'Resend OTPs': 'Send OTPs'}}</button>
                              </div>
                              <div class="col-12 row">
                                <div class="col-md-4"><input class="form-control" type="number"   formControlName="mobileOtp" name="mobileOtp"    placeholder="Enter Mobile OTP" maxlength="6" /></div>
                                <div class="col-md-4"><input  class="form-control" type="number"   formControlName="emailOtp" name="emailOtp"    placeholder="Enter EMail OTP" maxlength="6" /></div>
                              <div class="col-md-4" style="display: flex;align-items: center;">
                                  <button class="btn btn-primary" (click)="verifyOtps()" type="button" *ngIf="!isOTPVerified">Validate OTPs</button>
                                </div>
                                <div class="col-md-12"
                                      *ngIf="(clientRegForm.controls?.organizationPhonenumber?.touched ) && clientRegForm.controls?.organizationPhonenumber?.errors">
                                      <div *ngIf="(clientRegForm.controls.organizationPhonenumber.errors.required)"
                                          style="color: red;">Mobile
                                          number is required</div>
                                          <div  style="color: red;" *ngIf="clientRegForm.controls?.organizationPhonenumber?.errors?.invalid">
                                              Mobile number must be exactly 10 digits.
                                            </div>
                                </div> 
                              </div>
                          </div>
                            <div class="col-md-6  col-xs-12 mb-1">
                                <label for="name">Pincode <b style="color: red;">*</b></label>
                                <input type="text" required id="adress" class="form-control" name="pinCode"
                                    formControlName="pinCode" placeholder="Pincode (6digits)" (keypress)="numberOnly($event)"  />
                                <div
                                    *ngIf="(clientRegForm.controls.pinCode.touched  ) && clientRegForm.controls.pinCode.errors">
                                    <div style="color: red;" *ngIf="(clientRegForm.controls.pinCode.required)">PinCode is
                                        required</div>
                                </div>
                            </div>
                          
                            <div class="col-md-12  col-xs-12   row">
                                <div class="col-md-6  col-xs-12" style="color:rgb(36, 36, 115)">
                                    <b>Note :</b> If Already Registered! Click here for <a routerLink="/login" style="margin-left: 5px;font-weight: 600;border-bottom: 2px solid;">Login</a>
                                  </div>
                                  <div class="col-md-6   col-xs-12 btn-block ">
                                      <button class="btn btn-blue " type="submit" style="float: right;" [disabled]="isEmailExists">
                                          <span>Register</span>
                                      </button>
                                      <button class="btn btn-red " type="button" (click)="resetWholeForm()" style="float: right;">
                                          <span>Reset</span>
                                      </button>
                                  </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="content-card" style="">

                <h1 style="font-weight: 600;
                text-align: center;color: #3245aa;"><b class="orange-cls">G</b>et <b class="orange-cls">M</b>y quo<b class="orange-cls">T</b>e</h1>
                <h4 style="    font-weight: 600;
                font-size: 18px; color: #3245aa;" >GMT is a user-friendly platform that connects buyers with a vast network of Sellers to get quotations for their RFQ's
</h4>
                <p style=" margin-bottom: 0; " class="orange-cls"><b>Benefits:</b></p>
                <ul style="font-weight: 600;margin-bottom: 1rem;    text-align: left;">
                    <li>Submit unlimited RFQ's for free
                    </li>
                    <li>Get competitive quotes from multiple vendors delivered directly to your mail box</li>
                    <li>Simplify your sourcing process and potentially reduce costs with competitive quotes.
                    </li>
                </ul>
                <h5 class="" style="font-weight: 600;color: #3245aa;font-size: 16px;">Register for Get My quoTe (GMT) and experience a faster, smarter, and more efficient way of sourcing</h5>
            </div>

        </div>
        <div class="col-md-6 col-xs-12">
            <div class="content-card" style="">

                <h1
                    style="font-weight: 600;  text-align: center; color: #3245aa;">
                    <b class="orange-cls">B</b>uy <b class="orange-cls">F</b>rom <b class="orange-cls">S</b>tock
                </h1>
                <h4 style="  font-weight: 600;   font-size: 18px; color: #3245aa;">BFS is a platform connecting Buyers looking for immediate purchases with readily available stock acting as a marketplace
                </h4>
                <p style=" margin-bottom: 0; " class="orange-cls"><b>Benefits:</b></p>
                <ul style="font-weight: 600;margin-bottom: 1rem;    text-align: left;">
                    <li>Discover a diverse range of available stock across various categories at amazing deals
                    </li>
                    <li>Get the high demand products that you need more quickly by simplifying the<br /> sourcing process.
                    </li>
                </ul>
                <h5 class="" style="font-weight: 600; font-size: 16px;color: #3245aa;"  >Register for Buy From Stock(BFS) and experience the efficient, smarter and faster way of Purchasing</h5>
            </div>

        </div>
    </div>

</div> -->

    <div class="row reg-page-container">
        <div class="col-4 left-section">
            <div class="row">
                <div class="col-12 logo">
                    <img class="logo" src="assets/images/Procucev_Logo.svg" />
                </div>
                <div class="col-12 sub-imgs">
                    <img src="assets/images/new/BFS_w.png" width="150" height="150" alt="assets/images/new/BFS_w.png">
                    <img src="assets/images/new/GMT.svg" width="150" height="150" />
                </div>
                <div class="content-box">
                    <h4 class="title-gmt">GMT:</h4>
                    <ul class="gmt-list">
                        <li>Effortless Sourcing</li>
                        <li>Faster Turnarounds</li>
                        <li>Reduced Costs</li> 
                    </ul>
                    <h4>BFS:</h4>
                    <ul class="bfs-list">
                        <li>Access to Vast Marketplace</li>
                        <li>Cost Savings</li>
                        <li>User Friendly Platform</li>
                        <li>Boost Sustainability</li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-8 right-section p-5">
            <h4 class="title" style="font-size: 2rem;margin-top: 2rem;">Buyer Registration </h4>
            <div  style="color: #fff" class="error-block" >
                    <p *ngIf="clientRegForm?.controls?.india.value == 'true' && clientRegForm?.controls?.phoneNumber?.touched && clientRegForm?.controls?.phoneNumber?.errors?.invalidPhoneNumber ">
                       * Mobile number must be  10 digits and Not Preceeded with 0.</p>
                <p *ngIf="clientRegForm?.controls?.pan?.touched && clientRegForm?.controls?.pan?.errors?.pattern ">* Invalid PAN Details  </p>
                <p *ngIf="clientRegForm?.controls?.mail?.touched && clientRegForm?.controls?.mail?.errors?.pattern ">* Invalid EmailId  </p>
            </div>
            <div class="registration-form">
                <form name="clientRegForm" [formGroup]="clientRegForm" (ngSubmit)='registerVendor(clientRegForm)'>
                        <div class="row"> 
                            
                            <div class="col-md-5 col-xs-12 mt-4">
                                <label for="name">Your Name: <b style="color: red;">*</b></label>
                                <input type="text" required id="name" class="form-control" name="name" formControlName="name" placeholder="Name">
                                <div
                                    *ngIf="(clientRegForm.controls?.name?.touched ) && clientRegForm.controls?.name.errors ">
                                    <div style="color: red;" *ngIf="clientRegForm.controls?.name.errors.required">Name is
                                        required</div>
                                </div>
                            </div>
                            <div class="col-md-5  col-xs-12 mt-4">
                                <label for="companyName">Company Name: <b style="color: red;">*</b></label>
                                <input type="text" id="companyName" class="form-control" name="companyName" placeholder="Company Name"
                                    formControlName="companyName">
                                <div
                                    *ngIf="(clientRegForm.controls.companyName.touched ) && clientRegForm.controls.companyName.errors">
                                    <div style="color: red;">Company Name is required</div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4" style="">
                                <div class="row">
                                    <div class="col-md-5 col-xs-12 mb-1">
                                            <label for="name">Mobile Number: <b style="color: red;">*</b></label>
                                            <input type="text" maxlength="10" minlength="10" id="adress" class="form-control"
                                                name="organizationPhonenumber" formControlName="organizationPhonenumber" placeholder="Mobile Number"  (keypress)="numberOnly($event)"  maxlength="10" minlength="10"  [disabled]="isOTPVerified || isOTPSent">
                                                <span style="font-size: 12px;">(Provide mobile number, so you can access on WhatsApp)</span>
                                            <span style="color: green;" *ngIf="isOTPVerified">Mobile Number Verified</span>
                                            <div
                                                *ngIf="(clientRegForm.controls?.organizationPhonenumber?.touched ) && clientRegForm.controls?.organizationPhonenumber?.errors">
                                                <div *ngIf="(clientRegForm.controls.organizationPhonenumber.errors.required)"
                                                    style="color: red;">Mobile
                                                    number is required</div>
                                                    <div  style="color: red;" *ngIf="clientRegForm.controls?.organizationPhonenumber?.errors?.invalid">
                                                        Mobile number must be exactly 10 digits.
                                                        </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5  col-xs-12 mb-1">
                                            <label for="email">Company EMail Id: <b style="color: red;">*</b></label>
                                            <input type="email" required id="email" class="form-control" name="email" placeholder="Company Email Id"
                                                formControlName="email"  [disabled]="isOTPVerified || isOTPSent">
                                                <span style="color: green;" *ngIf="isOTPVerified">EMail Verified</span>
                                            <div
                                                *ngIf="(clientRegForm.controls.email.touched ) && clientRegForm.controls.email.errors">
                                                <div *ngIf="(clientRegForm.controls.email.errors.required)" style="color: red;">Email is
                                                    required</div>
                                                <div *ngIf="(clientRegForm.controls.email.errors.invalid || clientRegForm.controls.email.errors.invalidEmail)" style="color: red;">Please enter
                                                    valid Email id</div>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                        <div class="col-md-2"    >
                                            <button class="btn btn-primary  " (click)="sendOTPs()"  type="button"  style="width: 100%; background: #03A9F4 !important; color: #fff !important; border-radius: 30px !important; font-size: 1.1rem !important; padding: 0 !important; font-weight: 400 !important; border: none !important;margin-top: 2.5rem;"  *ngIf="!isOTPVerified">{{isOTPSent? 'Resend OTPs': 'Send OTPs'}}</button>
                                        </div>
                                </div>
                                
                              <div class="col-12 mt-4">
                                <div class="row">
                                        <div class="col-md-5"><input class="form-control" type="number"   formControlName="mobileOtp" name="mobileOtp"    placeholder="Enter Mobile OTP" maxlength="6" /></div>
                                        <div class="col-md-5"><input  class="form-control" type="number"   formControlName="emailOtp" name="emailOtp"    placeholder="Enter EMail OTP" maxlength="6" /></div>
                                        <div class="col-md-2" style="display: flex;align-items: center;">
                                            <button class="btn btn-primary"  (click)="verifyOtps()" type="button"  style="width: 100%; background: #0a461e !important; color: #fff !important; border-radius: 30px !important; font-size: 1.1rem !important; padding: 0 !important;  font-weight: 400 !important;
                                    border: none !important;padding: 5px;" *ngIf="!isOTPVerified">Validate OTPs</button>
                                        </div>
                                </div>
                              
                                <div class="col-md-12 mt-4"
                                      *ngIf="(clientRegForm.controls?.organizationPhonenumber?.touched ) && clientRegForm.controls?.organizationPhonenumber?.errors">
                                      <div *ngIf="(clientRegForm.controls.organizationPhonenumber.errors.required)"
                                          style="color: red;">Mobile  number is required</div>
                                          <div  style="color: red;" *ngIf="clientRegForm.controls?.organizationPhonenumber?.errors?.invalid">
                                              Mobile number must be exactly 10 digits.
                                            </div>
                                </div> 
                              </div>
                          </div>
                          <div class="col-md-3 mt-4"></div>
                            <div class="col-md-4  col-xs-12 mt-4">
                                <label for="name">Pincode <b style="color: red;">*</b></label>
                                <input type="text" required id="adress" class="form-control" name="pinCode"
                                    formControlName="pinCode" placeholder="Pincode (6digits)" (keypress)="numberOnly($event)"  />
                                <div
                                    *ngIf="(clientRegForm.controls.pinCode.touched  ) && clientRegForm.controls.pinCode.errors">
                                    <div style="color: red;" *ngIf="(clientRegForm.controls.pinCode.required)">PinCode is
                                        required</div>
                                </div>
                            </div>
                          
                            <div class="col-md-12  col-xs-12">
                                <div class="row">
                                    <div class="col-md-6  col-xs-12 mt-3" style="color:rgb(234, 229, 189)">
                                        <b>Note :</b> If Already Registered! Click here for <a routerLink="/login" style="margin-left: 5px;font-weight: 600;border-bottom: 2px solid;color:rgb(255, 254, 254)">Login</a>
                                    </div>
                                  <div class="col-md-12  col-xs-12 btn-blocks mt-5">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <button class="btn btn-blue " type="submit"    [disabled]="isEmailExists || !isOTPVerified  " style="float: right;
    width: 100%;
    background: #8BC34A !important;
    color: #fff !important;
    border-radius: 30px !important;
    font-size: 1.4rem !important;
    padding: 0 !important;
    font-weight: 400 !important;">
                                                <span>Register</span>
                                            </button>
                                        </div>
                                        <div class="col-md-5">

                                            <button class="btn btn-red " type="button" (click)="resetWholeForm()" 
    
    style="float: right;
    width: 100%;
    background: #b41b2d !important;
    color: #fff !important;
    border-radius: 30px !important;
    font-size: 1.4rem !important;
    padding: 0 !important;
    font-weight: 400 !important;"> 
                                                <span>Reset</span>
                                            </button>
                                        </div>
                                    </div>
                                     
                                  </div>
                                </div>
                                
                            </div>

                        </div>
                    </form>
            </div>
        </div>
    </div>