.error {
    color: red;
}

.otp-box {
    display: flex;
}

.bg-container {
    position: absolute;
    left: 0;
    top: 0;

    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: round;
}

.card {
    background: none;
    border: none;
    box-shadow: none !important;
    border: 0 !important;
    // // width: 50%;
    // position: absolute;
    // right: 0;
    // top: 20%;
}


.error-block p {
    margin: 0 !important;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #d2d9e0 !important;
    opacity: 1;
}

.pan-field input#pan {
    width: 70%;
    display: inline;
}

span.pan-validate {
    padding: 8px 20px;
    border: 2px solid green;
    border-radius: 4px;
    margin: 4px 10px;
    color: green;
    font-weight: 600;
    cursor: pointer;
}

span.pan-validate.disabledCss {
    opacity: 0.2;
}


form label {
    font-weight: 600;
}

.header-logo {
    position: relative;
    top: 20px;
    width: 100%;
}

.gmt-logo-icon {
    position: absolute;
    right: 0;
    top: -41%;

    img {
        position: absolute;
        right: 8%;
    }
}

.content-card {
    text-align: justify;
    margin: 1.5rem;
}

.margin3 {
    margin: 3rem;
}

@media only screen and (max-width: 767px) {
    .pan-field input#pan {
        width: 58%;
        display: inline;
    }

    .content-card {
        text-align: justify;
        margin: 1.5rem;
    }

    .gmt-logo-icon {
        position: relative;
        text-align: center;

        img {
            position: relative;
            right: 0;
        }
    }

    .bg-container {
        position: absolute;
        left: 0;
        top: 0;
        background-size: cover;
        width: 100%;
        height: auto;
        background-repeat: round;
    }


    .mt-5 {
        margin-top: 0 !important;
    }

    .btn-block {
        margin-top: 1.5rem;
    }

}



.reg-page-container { 
    background: #2e4491;
    height:116.4vh;
    overflow: hidden !important;
    padding: 2rem 3rem;


    .left-section {
        border-right: 5px solid black;

        .logo {
            text-align: center;

            img {
                width: 70%;
                margin-top: 2rem;
            }
        }

        .sub-imgs {
            text-align: center;

            img {
                width: 186px;
                height: 150px;
                margin: 21px 10px;
            }
        }

        .content-box {
            background-color: #f0f0f0;
            min-height: 300px;
            border-radius: 14px;
            min-height: 59vh;
            /* border: 2px solid grey; */
            width: 90%;
            margin-left: 5%;
            margin-top: 2rem;

            h4 {
                text-align: center;
                padding: 8px;
                margin-top: 1rem;
                text-decoration: underline;
                font-weight: bold;
            }

            .title-gmt {
                margin-top: 1rem;
            }

            ul.gmt-list {
                margin-bottom: 2rem;
            }

            ul li {
                font-size: 1.3rem;
                margin-left: 4rem;
                font-weight: 600;
            }
        }

    }

    .right-section {
        background-color: #fdfdfd;
        color: #000000 !important;
        padding-top: 0 !important;

        .title {
            text-align: center;
            font-weight: 600;
        }

        input {
            border-radius: 12px !important;
            border: none !important;
            font-size: 1.2rem;
            background-color: #E6E6E6;
        }

        form label {
            font-weight: 600;
            width: 100%;
            font-size: 1.2rem !important;
            color: #030303 !important;
        }

        .btn-blocks .btn {
            margin-top: 2rem;
            ;
            border-radius: 30px !important;

            line-height: normal;
        }
    }

}

.otp-send-box {
    display: flex;
    gap: 10px;
    align-items: center;

    input {
        width: 90% !important;
    }
}

.send-otp-button {
    background: #FD660E !important;
    color: #000000 !important;
    border-radius: 30px !important;
    font-size: 1.1rem !important;
    padding: 8px 10px !important;
    font-weight: 600 !important;
    border: none !important;
    display: flex;
    width: 39%;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    cursor: pointer;
}

.emailOTP-box1 {

    color: #000000 !important;
    border-radius: 30px !important;
    font-size: 1.1rem !important;
    padding: 8px 10px !important;
    font-weight: 600 !important;
    border: none !important;
    display: flex;
    width: 39%;
    text-align: center;
    justify-content: center;
}

.mobile-box {
    align-items: center;

    input {
        width: 83% !important;
        margin-bottom: 0 !important;
    }
}

.emailOTP-box {
    display: flex;
    gap: 10px;
    align-items: center;


    span {
        background: #73CB00 !important;
        color: #000000 !important;
        border-radius: 30px !important;
        font-size: 1.1rem !important;
        padding: 0 !important;
        font-weight: 600 !important;
        border: none !important;
        padding: 5px 10px !important;
        min-width: 39%;
    }
}

@media (min-width: 1080px) and (max-width: 1280px) {

  

    .sub-imgs {
        img {
            width: 140px !important;
            height: 110px !important;
        }
    }
}

.submitBtn {
    width: 30%;
    background: #8BC34A !important;
    color: #000000 !important;
    border-radius: 25px !important;
    font-size: 2rem !important;
    padding: 0 !important;
    font-weight: 600 !important;
    font-variant: all-small-caps;
}

.resetBtn {
    width: 200px;
    background: #FE660F !important;
    color: #000000 !important;
    border-radius: 25px !important;
    font-size: 1.2rem !important;
    padding: 0 !important;
    font-weight: 600 !important;

}

.right-section {
    border-radius: 30px;
    position: relative;
    .reg-page-logo-1 {
        left: 2rem;
        top: 2rem;
    }
    .reg-page-logo-2 {
        right: 2rem;
        top: 2rem;
    }
    .reg-page-logo-3 {
        left: 2rem;
        bottom: 2rem;
    }

    .reg-page-logo-4 {
        right: 2rem;
        bottom: 2rem;
    }
    img {
        position: absolute;
    }
}