

<div class="bg-container container-fluid" style="   background:  linear-gradient(209deg, #e1efff 1.88%, #e1efff 99.65%, #e1efff 10.2%);overflow: hidden;">
    <div class="header-logo row">

        <div class="col-md-4 col-xs-12 text-left">
            <img src="assets/images/new/GMT.svg" width="150" height="150" />

        </div>
        <div class="col-md-4 col-xs-12 text-center">
            <img style="" src="assets/images/Procucev_Logo.svg" width="250" height="80" />
            <h3 class="card-title text-center" style="text-align: center;    font-variant: titling-caps;
            font-weight:500;
            color: #3245aa;
            font-size: 1.5rem;"><b>Buyer Registration</b></h3>
        </div>
        <div class="col-md-4 col-xs-12 bfs-logo text-right">
            <img src="assets/images/new/bfs-logo-reg-cl.svg" width="140" height="120" />

        </div>
    </div>
    <div class="row  ">
        <div class="col-md-2"></div>
        <div class=" col-md-8 col-xs-12  ">
            <div class="card " >

                <div class="card-body">
                    <h3 style="color: green; font-size: 14px; font-style: italic;" *ngIf="successMessage">{{successMessage}}
                    </h3>
                    <div  style="color: red;" class="error-block" >
                        <p *ngIf="clientRegForm.controls.india.value == 'true' && clientRegForm.controls?.organizationPhonenumber?.touched && clientRegForm.controls?.organizationPhonenumber?.errors?.invalidPhoneNumber ">
                           * Mobile number must be  10 digits and Not Preceeded with 0.</p>
                        <p *ngIf="clientRegForm.controls?.pan?.touched && clientRegForm.controls?.pan?.errors?.pattern ">* Invalid GST Details  </p>
                        <p *ngIf="clientRegForm.controls?.email?.touched && clientRegForm.controls?.email?.errors?.pattern ">* Invalid EmailId  </p>
                    </div>
                    <form name="clientRegForm" [formGroup]="clientRegForm" (ngSubmit)='registerVendor(clientRegForm)'>
                        <div class="row">
                            <!-- <div class="col-md-4  col-xs-12 mb-1">
                                <label for="companyName">Country : <b   style="color: red;">*</b></label>
                               <div class="">

                                <span style="display: flex; align-items: center;">
                                   <input type="radio"  formControlName="india" id="india1" (click)="changeCountryValue(true)" value="true" class="form-control mr-1" name="india"> <label for="india1">India</label>
                                   <input type="radio"   formControlName="india" id="india2"  (click)="changeCountryValue(false)"value="false" class="form-control ml-5 mr-1" name="india"> <label for="india2">Out Of India</label>
                                </span>
                               </div>
                            </div> -->
                            <!-- <div class="col-md-4  col-xs-12 mb-1" *ngIf="clientRegForm.controls.india.value == 'false'">
                                <label for="companyName">Company Registration Number(CRN): <b style="color: red;">*</b></label>
                                <input type="text" id="crn" class="form-control" name="crn" placeholder="Company Registration Number(CRN)"
                                    formControlName="crn">
                                <div
                                    *ngIf="(clientRegForm?.controls?.crn?.touched ) && clientRegForm.controls.crn.errors">
                                    <div style="color: red;">CRN  is required</div>
                                </div>
                            </div> -->
                            <!-- <div class="col-md-4 col-xs-12 mb-1 pan-field" *ngIf="clientRegForm.controls.india.value == 'true'">
                                <label for="name" style="display: block;">Company GST: <b style="color: red;">*</b></label>
                                <input type="text" required id="pan" class="form-control" pattern="" name="pan"
                                    formControlName="pan" placeholder="Company GST" >
                                    <span class="pan-validate" [ngClass]="{'disabledCss': clientRegForm.controls.pan.errors?.required}" (click)="onValidatePan()">{{(isPanExist || this.clientRegForm.controls.pan.disabled)? 'Edit': 'Validate'}}</span>
                                <div *ngIf="isPanExist == true">GST Already Exists <span (click)="getDetailsByPan()"
                                        style="color: blue; border-bottom: 1px solid;cursor: pointer;">Get Details</span></div>
                                <div *ngIf="!isPanExist && panVerificationIniatiated" style="color:green;">GST Verified Successfully</div>
                                <div
                                    *ngIf="(clientRegForm.controls.pan.touched ) && clientRegForm.controls.pan.errors">
                                    <div *ngIf="(clientRegForm.controls.pan.errors.required)" style="color: red;">GST is
                                        required</div>
                                    <div *ngIf="(clientRegForm.controls.pan.errors.pattern)" style="color: red;">Please enter
                                        valid GST number</div>
                                </div>
                            </div> -->
                            <div class="col-md-6  col-xs-12 mb-1">
                                <label for="companyName">Company Name: <b style="color: red;">*</b></label>
                                <input type="text" id="companyName" class="form-control" name="companyName" placeholder="Company Name"
                                    formControlName="companyName">
                                <div
                                    *ngIf="(clientRegForm.controls.companyName.touched ) && clientRegForm.controls.companyName.errors">
                                    <div style="color: red;">Company Name is required</div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 mb-1">
                                <label for="name">Name: <b style="color: red;">*</b></label>
                                <input type="text" required id="name" class="form-control" name="name" formControlName="name" placeholder="Name">
                                <div
                                    *ngIf="(clientRegForm.controls?.name?.touched ) && clientRegForm.controls?.name.errors ">
                                    <div style="color: red;" *ngIf="clientRegForm.controls?.name.errors.required">Name is
                                        required</div>
                                </div>
                            </div>

                            <div class="col-md-12 row" style="    border: 2px solid #80808040;
                            margin: 4px auto;
                            padding-bottom: 16px;">
                                <div class="col-md-4 col-xs-12 mb-1">
                                  <label for="name">Mobile Number: <b style="color: red;">*</b></label>
                                  <input type="text" maxlength="10" minlength="10" id="adress" class="form-control"
                                  *ngIf="clientRegForm.controls.india.value == 'true'"  name="organizationPhonenumber" formControlName="organizationPhonenumber" placeholder="Mobile Number" [disabled]="isOTPVerified || isOTPSent">
                                  <span style="color: green;" *ngIf="isOTPVerified">Mobile Number Verified</span>
                                  <div
                                      *ngIf="(clientRegForm.controls?.organizationPhonenumber?.touched ) && clientRegForm.controls?.organizationPhonenumber?.errors">
                                      <div *ngIf="(clientRegForm.controls.organizationPhonenumber.errors.required)"
                                          style="color: red;">Mobile
                                          number is required</div>
                                          <div  style="color: red;" *ngIf="clientRegForm.controls?.organizationPhonenumber?.errors?.invalid">
                                              Mobile number must be exactly 10 digits.
                                            </div>
                                  </div>
                              </div>

                              <div class="col-md-4  col-xs-12 mb-1">
                                  <label for="email">Company EMail Id: <b style="color: red;">*</b></label>
                                  <input type="email" required id="email" class="form-control" name="email" placeholder="Company Email Id"
                                      formControlName="email"  [disabled]="isOTPVerified || isOTPSent">
                                      <span style="color: green;" *ngIf="isOTPVerified">EMail Verified</span>
                                  <div
                                      *ngIf="(clientRegForm.controls.email.touched ) && clientRegForm.controls.email.errors">
                                      <div *ngIf="(clientRegForm.controls.email.errors.required)" style="color: red;">Email is
                                          required</div>
                                      <div *ngIf="(clientRegForm.controls.email.errors.pattern)" style="color: red;">Please enter
                                          valid Email id</div>
                                  </div>
                                  <div>

                                  </div>
                              </div>
                              <div class="col-md-4"  style="    display: flex;align-items: center;">
                                  <button class="btn btn-primary" (click)="sendOTPs()"  type="button" *ngIf="!isOTPVerified">{{isOTPSent? 'Resend OTPs': 'Send OTPs'}}</button>
                              </div>
                              <div class="col-12 row">
                                 <div class="col-md-4"><input  class="form-control" type="number"   formControlName="emailOTP" name="emailOTP"    placeholder="Enter EMail OTP" maxlength="6" /></div>
                                 <div class="col-md-4"><input class="form-control" type="number"   formControlName="mobileOTP" name="mobileOTP"    placeholder="Enter Mobile OTP" maxlength="6" /></div>
                              <div class="col-md-4" style="display: flex;align-items: center;">
                                  <button class="btn btn-primary" (click)="verifyOtps()" type="button" *ngIf="!isOTPVerified">Validate OTPs</button>
                                </div>
                                <div class="col-md-12"
                                      *ngIf="(clientRegForm.controls?.organizationPhonenumber?.touched ) && clientRegForm.controls?.organizationPhonenumber?.errors">
                                      <div *ngIf="(clientRegForm.controls.organizationPhonenumber.errors.required)"
                                          style="color: red;">Mobile
                                          number is required</div>
                                          <div  style="color: red;" *ngIf="clientRegForm.controls?.organizationPhonenumber?.errors?.invalid">
                                              Mobile number must be exactly 10 digits.
                                            </div>
                                  </div>
                              </div>
                          </div>

                            <!-- <div class="col-md-6  col-xs-12 mb-1">
                                <label for="clientSector">Sector  <b style="color: red;">*</b></label>
                                <select class="form-control required" name="clientSector" [disabled]="isClientDataView" id="clientSector"
                                    placeholder="Select Sector" formControlName="clientSector">
                                    <option disabled [value]="''" selected>Select</option>
                                    <option *ngFor="let sc of sectors; let j = index" [ngValue]="sc">{{sc}}
                                    </option>
                                    <div
                                        *ngIf="(clientRegForm.controls.clientSector.touched ) && clientRegForm.controls.clientSector.errors">
                                        <div *ngIf="(clientRegForm.controls.clientSector.errors.required)" style="color: red;">
                                            client Sector is required</div>
                                    </div>
                                </select>
                            </div> -->
                            <div class="col-md-6  col-xs-12 mb-1">
                                <label for="name">City <b style="color: red;">*</b></label>
                                <textarea type="text" required id="adress" class="form-control" name="address1"
                                    formControlName="address1" placeholder="City"> </textarea>
                                <div
                                    *ngIf="(clientRegForm.controls.address1.touched  ) && clientRegForm.controls.address1.errors">
                                    <div style="color: red;" *ngIf="(clientRegForm.controls.address1.required)">Address is
                                        required</div>
                                </div>
                            </div>
                            <div class="col-md-6  col-xs-12 mb-1" *ngIf="clientRegForm.controls.india.value == 'true'">
                                <label for="state">State  <b style="color: red;">*</b></label>
                                <select class="form-control" name="state" formControlName="state" [disabled]="isClientDataView"
                                    id="state" placeholder="State">
                                    <option disabled [value]="''" selected>Select</option>
                                    <option *ngFor="let state of states; let j = index" [ngValue]="state">{{state}}
                                    </option>
                                </select>
                                <div
                                    *ngIf="(clientRegForm.controls.state.touched  ) && clientRegForm.controls.state.errors">
                                    <div style="color: red;" *ngIf="(clientRegForm.controls.sector.state.required)">State is
                                        required</div>
                                </div>
                            </div>
                            <div class="col-md-12  col-xs-12   row">
                                <div class="col-md-6  col-xs-12" style="color:rgb(36, 36, 115)">
                                    <b>Note :</b> If Already Registered! Click here for <a routerLink="/login" style="margin-left: 5px;font-weight: 600;border-bottom: 2px solid;">Login</a>
                                  </div>
                                  <div class="col-md-6   col-xs-12 btn-block ">
                                      <button class="btn btn-blue " type="submit" style="float: right;" [disabled]="isEmailExists">
                                          <span>Register</span>
                                      </button>
                                      <button class="btn btn-red " type="button" (click)="clientRegFormReset()" style="float: right;">
                                          <span>Reset</span>
                                      </button>
                                  </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="content-card" style="">

                <h1 style="font-weight: 600;
                text-align: center;color: #3245aa;"><b class="orange-cls">G</b>et <b class="orange-cls">M</b>y quo<b class="orange-cls">T</b>e</h1>
                <h4 style="    font-weight: 600;
                font-size: 18px; color: #3245aa;" >GMT is a user-friendly platform that connects buyers with a vast network of Sellers to get quotations for their RFQ's
</h4>
                <p style=" margin-bottom: 0; " class="orange-cls"><b>Benefits:</b></p>
                <ul style="font-weight: 600;margin-bottom: 1rem;    text-align: left;">
                    <li>Submit unlimited RFQ's for free
                    </li>
                    <li>Get competitive quotes from multiple vendors delivered directly to your mail box</li>
                    <li>Simplify your sourcing process and potentially reduce costs with competitive quotes.
                    </li>
                </ul>
                <h5 class="" style="font-weight: 600;color: #3245aa;font-size: 16px;">Register for Get My quoTe (GMT) and experience a faster, smarter, and more efficient way of sourcing</h5>
            </div>

        </div>
        <div class="col-md-6 col-xs-12">
            <div class="content-card" style="">

                <h1
                    style="font-weight: 600;  text-align: center; color: #3245aa;">
                    <b class="orange-cls">B</b>uy <b class="orange-cls">F</b>rom <b class="orange-cls">S</b>tock
                </h1>
                <h4 style="  font-weight: 600;   font-size: 18px; color: #3245aa;">BFS is a platform connecting Buyers looking for immediate purchases with readily available stock acting as a marketplace
                </h4>
                <p style=" margin-bottom: 0; " class="orange-cls"><b>Benefits:</b></p>
                <ul style="font-weight: 600;margin-bottom: 1rem;    text-align: left;">
                    <li>Discover a diverse range of available stock across various categories at amazing deals
                    </li>
                    <li>Get the high demand products that you need more quickly by simplifying the<br /> sourcing process.
                    </li>
                </ul>
                <h5 class="" style="font-weight: 600; font-size: 16px;color: #3245aa;"  >Register for Buy From Stock(BFS) and experience the efficient, smarter and faster way of Purchasing</h5>
            </div>

        </div>
    </div>

</div>
