.error {
    color: red;
}

.otp-box {
    display: flex;
}

.bg-container {
    position: absolute;
    left: 0;
    top: 0;

    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: round;
}

.card {
    background: none;
    border: none;
    box-shadow: none !important;
    border: 0 !important;
    // // width: 50%;
    // position: absolute;
    // right: 0;
    // top: 20%;
}


.error-block p {
    margin: 0 !important;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #d2d9e0 !important;
    opacity: 1;
}

.pan-field input#pan {
    width: 70%;
    display: inline;
}

span.pan-validate {
    padding: 8px 20px;
    border: 2px solid green;
    border-radius: 4px;
    margin: 4px 10px;
    color: green;
    font-weight: 600;
    cursor: pointer;
}

span.pan-validate.disabledCss {
    opacity: 0.2;
}


form label {
    font-weight: 600;
}

.header-logo {
    position: relative;
    top: 20px;
    width: 100%;
}

.gmt-logo-icon {
    position: absolute;
    right: 0;
    top: -41%;

    img {
        position: absolute;
        right: 8%;
    }
}

.content-card {
    text-align: justify;
    margin: 1.5rem;
}

.margin3 {
    margin: 3rem;
}

@media only screen and (max-width: 767px) {
    .pan-field input#pan {
        width: 58%;
        display: inline;
    }

    .content-card {
        text-align: justify;
        margin: 1.5rem;
    }

    .gmt-logo-icon {
        position: relative;
        text-align: center;

        img {
            position: relative;
            right: 0;
        }
    }

    .bg-container {
        position: absolute;
        left: 0;
        top: 0;
        background-size: cover;
        width: 100%;
        height: auto;
        background-repeat: round;
    }


    .mt-5 {
        margin-top: 0 !important;
    }

    .btn-block {
        margin-top: 1.5rem;
    }

}



.reg-page-container {
    max-height: 118vh;
    background: #FFF;
    height: 117.6vh;
    overflow-x: hidden  !important;


    .left-section {
        border-right: 5px solid black;

        .logo {
            text-align: center;

            img {
                width: 70%;
                margin-top: 2rem;
            }
        }

        .sub-imgs {
            text-align: center;

            img {
                width: 186px;
                height: 150px;
                margin: 21px 10px;
            }
        }

        .content-box {
            background-color: #f0f0f0;
            min-height: 300px;
            border-radius: 14px;
            height: 578px;
            /* border: 2px solid grey; */
            width: 90%;
            margin-left: 5%;

            h4 {
                text-align: center;
                padding: 8px;
                margin-top: 1rem;
                text-decoration: underline;
                font-weight: bold;
            }

            .title-gmt {
                margin-top: 1rem;
            }

            ul.gmt-list {
                margin-bottom: 2rem;
            }

            ul li {
                font-size: 1.5rem;
                margin-left: 4rem;
                font-weight: 600;
            }
        }

    }

    .right-section {
        background-color: #2b418d;
        color: #fff !important;

        .title {
            text-align: center;
            text-decoration: underline;
            font-weight: 600;
        }

        input {
            border-radius: 30px !important;
            border: 3px solid black !important;
            font-size: 1.2rem;
        }

        form label {
            font-weight: 600;
            text-align: center !important;
            width: 100%;
            font-size: 1.2rem !important;
            color: #fff !important;
        }

        .btn-blocks .btn {
            border-radius: 30px !important;
        }
    }

}