<!-- <div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4 procucevlogin">
            <img src="assets/images/logo_procuceve.png" width="150px" class="user-avatar" />
            <h3 class="marginTop20">Forgot password</h3>
            <form role="form" #forgotpassword="ngForm" >
                <div class="" *ngIf="isEmailEmpty" style="font-size: 14px; color: rgb(255, 253, 253);">Please Enter User Name</div>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="userName" [(ngModel)]="userName" (keydown)="resetCredentialsMsg()"
                        class="form-control input-underline input-lg" id="" placeholder="Enter Your Email">
                    </div>
                </div>

                &nbsp;
                <button class="btn rounded-btn" style=" width: 217px; margin-bottom: 25px;"  (click)="onSubmit(forgotpassword)">{{ 'Submit'}}</button>
                <div >
                    <span class="" style="color: #b5cde2;">For Login? &nbsp;<span style="color: #fff;border-bottom: 1px dashed;"><a  [routerLink]="['']" style="color: #fff">{{ 'Click Here'  }}</a>
                    </span> </span></div>

            </form>
        </div>
    </div>
</div> -->

<div class="login-page row" [@routerTransition]>
    <div class="col-md-4 left-section">
        <img src="/assets/images/Graphic_branding.svg" width="350">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                    <h4>Welcome to Procurement Automation and TEchnified Sourcing Service</h4><br />
                    <small>Procucev is a pioneer in providing digital procurement as a service with latest technology and unique service.</small>
              </div>
              <div class="carousel-item">
                <h4>We use our in-house cloud-based technology platform, armed with latest tools</h4><br />
                  <small>This results in streamlined business processes and enables proper control mechanism which can be customized as per clients’ internal controls.</small>      
              </div>
              <div class="carousel-item">
                <h4>Procucev spreads its identity across sectors by expanding its clientele</h4><br />
                  <small>Retail, Manufacturing, F&B and many more sectors while establishing strong presence in enterprise capex procurements.</small>
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-8 right-section">
        <div class="d">
            <img src="assets/images/Procucev_Logo.svg" width="250px" class="" />
            <p>Forgot password</p>
            <form role="form" #forgotpassword="ngForm">
                <div class="col-md-12">
                    <p *ngIf="isEmailEmpty">Please Enter User Name</p>
                    <div class="form-content">
                        <div class="form-group">
                            <div class="col-12 input-label"><label for="email">Enter user name:</label></div>
                            <input type="text" name="userName" [(ngModel)]="userName" (keydown)="resetCredentialsMsg()"
                            class="form-control" id="" placeholder="Enter user name">
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="onSubmit(forgotpassword)">{{ 'Submit'}}</button>
                    <span style="color: black;">Back to <small [routerLink]="['']">Sign in</small></span>
                </div>
            </form>
        </div>
    </div>
</div>