<div class="main-container container-fluid" style="    position: absolute;
height: 100%;background: #8ec3ea42">
    <div class="row">
        <div class="col-12">
            <div class="header-section row">
                <div class="header-content col-md-6 col-xs-12">
                    <div class="title">Welcome to Procucev</div>
                    <h5 class="">Your one stop destination for enterprise procurement</h5>
                </div>
                <div class="col-md-6 col-xs-12 img-logo">
                    <img src="assets/images/Procucev_Logo.svg" width="320px">
                </div>
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="row digital-container d-flex gap-3">
                <div class="col-12">
                  <h2 class="title text-center">Digital Platforms</h2>
                </div>
                <div class="col-md-6 right-card p-3">
                    <div class="col-12">


                        <div class="card-box">
                            <img src="assets/images/new/GMT.png" class="card-img-top" alt="assets/images/new/DPS_w.png"  >
                            <div class="content">
                                <h2>Get My quoTe (GMT)</h2>
                                <p>Buyers can get faster and competitive quotes while sellers can get effective lead generation</p>
                            </div>
                            <div class="">
                              <button class="btn btn-blue" (click)="onSelectedSubscriptions('gmtName')">Click Here</button>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 right-card p-3">
                   <div class="col-12">
                      <div class="card-box">
                        <img src="assets/images/new/BFS_w.png" class="card-img-top" alt="assets/images/new/BFS_w.png">
                        <div class="content">
                            <h2>Buy From Stock (BFS)</h2>
                            <p>Sellers can Turn Excess Stock into immediate revenue while Buyers can secure products at best deals instantly</p>
                        </div>
                        <div class="">
                          <button class="btn btn-blue" disabled>Coming soon..!</button>
                        </div>

                    </div>
                   </div>
                </div>
            </div>

        </div>
        <!-- <div class="col-md-12 col-xs-12 card-container">
            <div class="body-section row">
                <div class="col-md-3 col-xs-12">
                    <div class="card DPS-card" >
                        <img src="assets/images/new/DPS.png" class="card-img-top" alt="assets/images/new/DPS.png">
                        <div class="card-body">
                          <h5 class="card-title">Digital Procurement Service</h5>

                          <div class="btn-block mt-3">
                            <button  class="btn btn-primary  mt-4" (click)="onSelectedSubscriptions('dpsName')">Click Here</button>
                          </div>

                        </div>
                      </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="card blue-card GMT-card" >
                        <img src="assets/images/new/GMT.png" class="card-img-top gmt-img" alt="assets/images/new/GMT.png">
                        <div class="card-body" style="margin-top: 91px;">
                          <h5 class="card-title">Get My Quote</h5>

                          <div class="btn-block mt-3"  >
                          <button  class="btn btn-primary  mt-4" (click)="onSelectedSubscriptions('gmtName')">Click Here</button>
                          </div>
                        </div>
                      </div>
                </div>
                 <div class="col-md-3 col-xs-12">
                    <div class="card BFS-card"  >
                        <img src="assets/images/new/BFS.png" class="card-img-top" alt="assets/images/new/DPS.png">
                        <div class="card-body">
                          <h5 class="card-title">Buy From Stock</h5>

                          <div class="btn-block mt-3">
                          <button  class="btn btn-primary  mt-4" (click)="onSelectedSubscriptions('bfsName')" >Click Here</button>
                          </div>
                        </div>
                      </div>
                 </div>
                 <div class="col-md-3 col-xs-12">
                    <div class="card BFS-card"  >
                        <img src="assets/images/new/proCapex.png" class="card-img-top" alt="assets/images/new/proCapex.png">
                        <div class="card-body">
                          <h5 class="card-title">proCPX</h5>

                          <div class="btn-block mt-3">
                            <button  class="btn btn-primary  mt-4" (click)="onSelectedSubscriptions('dpsName')">Click Here</button>
                        </div>
                        </div>
                      </div>
                 </div>

            </div>
        </div> -->
        <!-- <div class="col-md-12 col-xs-12 card-container">
            <div class="body-section row">
                <div class="col-md-4 col-xs-12">
                    <div class="card DPS-card" >
                        <img src="assets/images/new/DPS.png" class="card-img-top" alt="assets/images/new/DPS.png">
                        <div class="card-body">
                          <h5 class="card-title">Digital Procurement Service</h5>
                          <p class="card-text">Connecting Enterprise with Qualified and Curated Vendors to streamline</p>
                          <p style="margin-bottom: 0;">Procurement by:</p>
                          <ul>
                            <li>Cutting edge Source to Pay Technology</li>
                            <li>Dynamic Pricing</li>
                            <li>Automated Quote Comparisons</li>
                            <li>Direct Chat with vendors</li>
                            <li>Audit Trail</li>
                            <li>Saving Time and Resources</li>
                          </ul>
                          <div class="btn-block mt-3">
                            <button  class="btn btn-primary  mt-4" (click)="onSelectedSubscriptions('dpsName')">Click Here</button>
                          </div>

                        </div>
                      </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="card blue-card GMT-card" >
                        <img src="assets/images/new/GMT.png" class="card-img-top gmt-img" alt="assets/images/new/GMT.png">
                        <div class="card-body" style="margin-top: 91px;">
                          <h5 class="card-title">Get My Quote</h5>
                          <p class="card-text">
                            Bridging the gap between Enterprises and seeking quotes and Vendors looking for opportunities.
                          </p>
                          <p style="margin-bottom: 0;">Enterprises get:</p>
                          <ul>
                            <li>Fast and competitive quotes</li>
                            <li>Connected to vast network of Vendors </li>
                          </ul>
                          <p style="margin-bottom: 0;">Vendors Can:</p>
                          <ul>
                            <li>Access to a wider client base</li>
                            <li>Expand their Business</li>
                          </ul>
                          <div class="btn-block mt-3"  >
                          <button  class="btn btn-primary  mt-4" (click)="onSelectedSubscriptions('gmtName')">Click Here</button>
                          </div>
                        </div>
                      </div>
                </div>
                 <div class="col-md-4 col-xs-12">
                    <div class="card BFS-card"  >
                        <img src="assets/images/new/BFS.png" class="card-img-top" alt="assets/images/new/DPS.png">
                        <div class="card-body">
                          <h5 class="card-title">Buy From Stock</h5>
                          <p class="card-text">
                            Acting as a marketplace where Enterprises can easily buy and sell excess inventory
                          </p>
                          <p style="margin-bottom: 0;">Sellers:</p>
                          <ul>
                            <li>Reduce storage and clear stock from warehouse</li>
                            <li>Generate Cashflow from Dormant stock Buyers</li>
                          </ul>
                          <p style="margin-bottom: 0;">Buyers:</p>
                          <ul>
                            <li>Secure products  at competitive prices</li>
                            <li>Reduce longer lead times to real time</li>
                          </ul>
                          <div class="btn-block mt-3">
                          <button  class="btn btn-primary  mt-4" (click)="onSelectedSubscriptions('bfsName')" >Click Here</button>
                          </div>
                        </div>
                      </div>
                 </div>

            </div>
        </div> -->
    </div>

    <span (click)="backToLogin();" class="back-link"> Logout </span>

</div>
