<div class="main-container container-fluid" style="    position: absolute;
height: 100%;background: #dce8fd">
  <div class="row">
    <div class="col-12">
      <div class="header-section row">
        <div class="header-content col-md-6 col-xs-12">
          <div class="title">Welcome </div>
          <h5 class="">Your one stop destination for B2B Procurement</h5>
        </div>
        <div class="col-md-6 col-xs-12 img-logo">
          <img src="assets/images/Procucev_Logo.svg" width="260px">
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xs-12">
      <div class="col-md-12 col-xs-12 digital-container  row">
        <div class="qua-logo">
          <img src="assets/images/new/qua.png" alt="assets/images/new/qua.png">
        </div>
        <div class="col-md-6 right-card p-3">
          <div class="col-12">
            <div class="card-box">
              <img src="assets/images/new/GMT.png" class="card-img-top" alt="assets/images/new/DPS_w.png">
              <div class="content">
                <h2 class="text-center blueColor"><span class="orange-cls">G</span>et <span class="orange-cls">M</span>y
                  quo<span class="orange-cls">T</span>e</h2>
                <ul>
                  <li>Get My quoTe (GMT) is the one platform that
                    connects verified Buyers and Sellers for seamless
                    industrial sourcing.</li>
                  <li>GMT simplifies sourcing and boosts efficiency for
                    both sides.</li>
                </ul>
              </div>
              <div class="">
                <button class="btn btn-blue" (click)="onSelectedSubscriptions('gmtName')">Click Here</button>

              </div>
            </div>

          </div>
        </div>
        <div class="col-md-6 right-card p-3">
          <div class="col-12">
            <div class="card-box">
              <img src="assets/images/new/BFS_w.png" class="card-img-top" alt="assets/images/new/BFS_w.png">
              <div class="content">
                <h2 class="text-center blueColor">B<span class="orange-cls">uy</span> F<span
                    class="orange-cls">rom</span> S<span class="orange-cls">tock</span> </h2>
                <ul>
                  <li>Buy From Stock (BFS) Revolutionize Inventory
                    models.</li>
                  <li>Faster procurement with real-time access to
                    available inventory and instant deals.</li>
                </ul>
              </div>
              <div class="">
                <button class="btn btn-blue"  (click)="onSelectedSubscriptions('bfsName')" >Click Here</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <span (click)="backToLogin();" class="back-link"> Logout </span>

</div>