.header-content {
    .title {

        font-variant: all-petite-caps;
        font-weight: bolder;
        color: #144A9A;
    }


    h5 {
        color: #000000;
        font-variant: normal;
    }
}

.title {
    font-weight: 700;
    font-size: 4rem;
    color: #ff4800;
}

.img-logo {
    display: flex;
    align-items: center;
    float: right;
    flex-direction: row-reverse;

    img {
        // position: absolute;
        right: 120px;
    }
}

.card-container {
    margin-top: 114px;
    margin-left: 2%;
}

.main-container {
    max-width: 100% !important;
    overflow-x: hidden;
}

.card {
    width: 22rem;
    height: 520px;
    position: relative;
    border: 4px solid #3a403f;
    transition: margin-top 0.8s;
    transition-delay: 0.2s;
}

.btn-primary {
    background-color: #000 !important;
    border-color: #000 !important;
    border-radius: 0 !important;
    width: 200px;
    letter-spacing: 1px;
    height: 70px;
}

.card img {
    // position: absolute;
    top: -21%;
    left: 23%;
    height: 214px;
    width: 264px;
    border: 2px solid #8080804d;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    margin-top: 130px;
    // text-align: center;
    font-weight: 600;
}

.blue-card {

    h5,
    p {
        color: #fff;
    }
}

h5.card-title {
    // font-variant: all-petite-caps;
    font-weight: 800;
    text-align: center;
}

a.btn.btn-primary {
    position: absolute;
    left: 20%;
    bottom: 6%;
    font-size: 18px !important;
}

.DPS-card {
    width: 90%;
    height: 520px;
    position: relative;
}

.DPS-card .card-body {
    margin-top: 6rem !important;

}

.GMT-card {
    width: 90%;
    height: 506px;
    position: relative;
    margin-top: -65px;
    color: #fff !important;
}

.gmt-img {
    // border-radius: 50%;
    width: 100% !important;
    left: 27% !important;
    height: 198px;
    top: -25% !important;
}

.BFS-card {
    width: 90%;
    height: 520px;
    position: relative;
}

.BFS-card .card-body {
    margin-top: 6rem !important;

}

.card:hover {
    margin-top: -20px;
    transition: margin-top 0.5s;
    cursor: pointer;
    transition-timing-function: linear;
}

.DPS-card h5,
.GMT-card h5,
.BFS-card h5 {
    color: #ffffff;
    text-decoration: underline;
}

.btn-block {
    text-align: center;
}

.back-link {
    cursor: pointer;
    color: blue;
    font-size: 18px;
    font-weight: 800px;
    border-bottom: 2px solid;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

@media (max-width: 768px) and (min-width: 321px) {
    .card-container {
        margin-top: 220px;
        margin-left: 2%;
    }

    .DPS-card {
        width: 100%;
        height: 700px;
        position: relative;
    }

    .card img {
        position: absolute;
        top: -21%;
        left: 0;
        height: 214px;
        width: 100% !important;
        border: 2px solid #8080804d;
    }

    .GMT-card {
        width: 100%;
        height: 700px;
        position: relative;
        margin-top: -65px;
        color: #fff !important;
    }

    .card img {
        // position: absolute;
        top: -21%;
        left: 0;
        height: 214px;
        width: 100% !important;
        border: 2px solid #8080804d;
    }

    .BFS-card {
        width: 100%;
        height: 700px;
        position: relative;
    }

    .card img {
        // position: absolute;
        top: -21%;
        left: 0;
        height: 214px;
        width: 100% !important;
        border: 2px solid #8080804d;
    }

    .btn-primary {
        background-color: #000 !important;
        border-color: #000 !important;
        border-radius: 0 !important;
        width: 177px;
        letter-spacing: 1px;
        height: 70px;
    }

    .gradient-button {
        background: linear-gradient(to right, #8e2de2, #4bc0c8);
        /* purple to light blue */
        color: #000;
        /* bold black text */
        font-weight: bold;
        font-size: 1rem;
        padding: 12px 24px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        text-align: center;
        transition: box-shadow 0.3s ease, transform 0.2s ease;
    }

    .gradient-button:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }

    .title {
        font-weight: 700;
        font-size: 2rem;
        color: #ff4800;
    }

    .header-content h5 {
        font-weight: 800;
        color: #1a417a;
        font-size: 1rem;
    }

    .gmt-img {
        // border-radius: 50%;
        width: 100% !important;
        left: 5% !important;
        height: 198px;
        top: -25% !important;
        border: 3px solid #1a1c20 !important;
    }

    .back-link {
        cursor: pointer;
        color: blue;
        font-size: 18px;
        font-weight: 800px;
        border-bottom: 2px solid;
        position: relative;
        bottom: 0;
        right: 0;
        left: 2rem;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .img-logo img {
        position: relative;
        right: 0;
    }

    .title {
        font-weight: 700;
        font-size: 2rem;
        color: #ff4800;
    }

    .card-container {
        margin-top: 114px;
        position: relative;
    }

    .DPS-card {
        width: 100%;
        height: 538px;
        position: relative;
    }

    .BFS-card {
        width: 100%;
        height: 604px;
        position: relative;
        margin-top: 123px;
    }

    .GMT-card {
        width: 100%;
        height: 538px;
        position: relative;
        margin-top: 134px;
        color: #fff !important;
    }

    .card img {
        // position: absolute;
        top: -21%;
        left: 9%;
        height: 214px;
        width: 100% !important;
        border: 2px solid #8080804d;
    }

    .gmt-img {
        // border-radius: 50%;
        width: 100% !important;
        left: 15% !important;
        height: 198px;
        top: -25% !important;
        border: 3px solid #1a1c20 !important;
    }

    .card img {
        // position: absolute;
        top: -21%;
        left: 9%;
        height: 214px;
        width: 100% !important;
        border: 2px solid #8080804d;
    }

    .back-link {
        cursor: pointer;
        color: blue;
        font-size: 18px;
        font-weight: 800px;
        border-bottom: 2px solid;
        position: relative;
        bottom: 0;
        right: 2rem;
        margin: 3rem;
    }

    .card:hover {
        margin-top: 150px;
        transition: margin-top 0.5s;
        cursor: pointer;
        transition-timing-function: linear;
    }

}

.card {
    background: #fff;
    border: none;
    background: #00BCD4 !important;
}

.gmt-img {
    border: none;
}

::ng-deep .card img {

    top: -21%;
    left: 23%;
    height: 214px;
    width: 100% !important;
    border: none !important;
    clip-path: ellipse(64% 100% at top);
}


.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    margin-top: 130px;
    font-weight: 600;
    /* background: #00b3ca; */
}

.digital-container {
    margin-left: 1rem;
    background: #f3f6fe;
    width: 98%;
    position: relative;

    border-radius: 40px;

    .qua-logo {
        position: absolute;
        top: -120px;
        left: 46%;
        background: #f3f6fe;
        width: 194px;
        height: 194px;
        padding: 10px;
        border-radius: 100% 100% 0 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 120px;
            height: 120px;
        }
    }

    h2.title {
        font-size: 1.8rem;
        text-decoration: underline;
        color: #101114;
        margin-bottom: 2rem;
        font-weight: 500;
    }


    margin-top: 5vh;

    .left-card {
        min-height: 80vh;
    }

    .right-card {
        min-height: 80vh;
    }

    .left-card .col-12,
    .right-card .col-12 {
        min-height: 100%;
        padding: 1rem;
        border-radius: 8px;
    }

    .card-box {
        height: 469px;
        border: 2px solid;
        background: #ffffff;
        margin-bottom: 2rem;
        padding: 8rem 2rem;
        border-radius: 18px;
        color: #fff !important;
        position: relative;
        text-decoration: none !important;
        width: 80%;
        margin-left: 15%;
        border: 3px solid #FFF;
        align-items: center;
        margin-top: 100px;

        ul {
            li {
                color: #000;
                font-weight: 550;
                padding: 4px 8px
            }
        }

        .content {
            width: 85%;
            margin-left: 7.5%;

            h2 {
                color: #302c2a;
                font-weight: 700;
            }

            p {
                color: #101114;
                font-weight: 600;
            }
        }

        .btn-blue {
            bottom: -16px;
            right: 22px;
            background: linear-gradient(to right, #8e2de2, #4bc0c8) !important;
            color: #000000 !important;
            border-color: #c4bbf6 !important;
            border-radius: 20px !important;
            border: 4px !important;
            min-width: 100%;
            margin-top: 2rem; 
            font-weight: 800 !important;
        }

        img {
            position: absolute;
            left: calc(50% - 80px);
            top: -18%;
            width: 167px;
            height: 167px;
            border-radius: 52% 52% 0 0 !important;
            border: 3px solid #ffffff;
        }
    }

    .blueColor {
        color: #004C8D !important;
    }
}