// $topnav-background-color: #2b418d;

:host {
  display: block;
}

img.bg-img {
  width: 100%;
  height: 100%;
  /* background: none; */
}

.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  color: #fff;
  margin: 0px;
  background-image: url('/assets/images/new/login-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;

  // padding: 3em;
  .form-control {
    background: #FFFFFF;
    border: 1px solid #D0D5DD !important;
    box-sizing: border-box;
    // box-shadow: 0px 1px 2px rgb(16 24 40 / 5%) !important;
    border-radius: 4px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    height: 44px;
    left: 0px;
    top: 0px;
  }

  .input-label {
    text-align: start;
    padding: 0px;

    label {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #344054;
      text-align: start;
      padding: 0px;
    }
  }

  .d {
    button {
      width: 100%;
      padding: 0px;
      margin: 20px 0px;
    }

    small {
      font-size: 14px;
      font-weight: 500;
      text-align: right;
      color: #234AD5;
      cursor: pointer;
    }
  }

}

.left-section {
  padding: 60px 0px;
}

.right-section {
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 65%;
  margin-top: 0% !important;
  border-radius: 10%;
  min-height: 633px;

}

.d {
  width: 600px;
  height: 600px;
  background: #FFFFFF;
  border: 1px solid #E6ECEF;
  box-sizing: border-box;
  box-shadow: -3px -1px 10px 7px #0a229f1f;
  border-radius: 12px;
  padding: 60px;

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #101828;
    margin: 2em;
  }
}

.carousel {
  position: relative;
  padding: 12%;
}

h4 {
  font-size: 22px;
  font-weight: 500;
  color: white;
}

small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: #f44336;
  letter-spacing: 1px;
}


.eyeicon {
  color: #344054;
  position: absolute;
  right: 15px;
  top: 35px;
  cursor: pointer;
}

.blink {
  animation: blink 1s infinite;
  font-size: 24px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.testing:hover {
  animation: none;
}


.subc-log-sec img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  justify-content: center;
}


.subc-log-sec div.dps {
  padding: 1rem 1rem;
  font-size: 12px;
  margin: 18px 10px;
  width: 95%;
  margin-right: 1% !important;
  border-radius: 85px 0 0 85px;
  box-sizing: border-box;
  box-shadow: 0px 2px 7px 6px #132ba11f;
}

.subc-log-sec .card-title {
  font-size: 16px;
  color: #ff4800b3;
  font-weight: bolder;
  padding-top: 10px;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  border-radius: 12%;
}

.dps {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  p {
    text-align: justify;
  }
}

.content {
  width: 100%;
  text-align: left;
  padding: 10px;
  color: #673AB7;
  font-size: 15px;
  font-weight: 600;

  p {
    color: #673AB7;
  }
}

.dps-panel {
  position: absolute;
  top: -42vh;
  right: -20px;
}


.login-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn {
    width: 46% !important;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .login-page {
    overflow: auto;
  }

  .subc-log-sec div {
    padding: 2rem 1rem;
    font-size: 12px;
    margin: 18px 10px;
    width: 245px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px 4px #142ba31c;
    align-items: center;
    width: 97%;
    justify-content: space-evenly;
    display: block;
  }

  .d {
    padding-left: 20px;
    padding-right: 20px;
  }

  .dps {
    border-radius: 24px 0 !important;
  }

  .dps-panel {
    position: relative;
    top: 0;
    right: 0;
  }
}

.curved-line {
  //   clip-path: ellipse(99% 100% at left);
}

/* Adding decorative ends (optional) */
//   .curved-line::before,
//   .curved-line::after {
//     content: '';
//     position: absolute;
//     width: 20px;
//     height: 20px;
//     background: inherit;
//     border-radius: 50%; /* Circular ends */
//   }

//   .curved-line::before {
//     top: -10px;
//   }

//   .curved-line::after {
//     bottom: -10px;
//   }


.circle-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .circle {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid #4caf50;
    /* Circle border color */
    border-radius: 50%;
    /* Makes it a circle */
    animation: spin 5s linear infinite;
    /* Rotating animation */
  }

  .circle .item {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform-origin: 50% 100px;
    /* Positioning origin */
    animation: spin-reverse 5s linear infinite;
  }

  /* Positioning items along the circle */
  .circle .item:nth-child(1) {
    transform: rotate(0deg);
  }

  .circle .item:nth-child(2) {
    transform: rotate(60deg);
  }

  .circle .item:nth-child(3) {
    transform: rotate(120deg);
  }

  .circle .item:nth-child(4) {
    transform: rotate(180deg);
  }

  .circle .item:nth-child(5) {
    transform: rotate(240deg);
  }

  .circle .item:nth-child(6) {
    transform: rotate(300deg);
  }

  /* Rotating animation */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-reverse {
    from {
      transform: rotate(360deg);
    }

    to {
      transform: rotate(0deg);
    }
  }
}


.circle-container2 {
  .circle {
    /* clip-path: ellipse(); */
    position: relative;
    width: 100%;
    height: 499px;
    /* border: 2px solid blue; */
    border-radius: 0% 0% 10% 10%;
    -webkit-transform: rotateZ(237deg);
    transform: rotateZ(237deg);

    // /* box-shadow: -9px 4px 2px 3px #191a1aad;
    .img {
      width: 100%;
      height: 100%;
      border-radius: 27% !important;
    }
  }

  .circle .item {
    width: 225px;
    height: 215px;
    border: 3px solid #fff;
    border-radius: 27%;
  }

  .circle .item:nth-child(1) {
    transform: rotate(88deg);
    position: absolute;
    top: -10%;
    left: 25%;
    box-shadow: -9px 4px 2px 3px #191a1aad;
  }

  .circle .item:nth-child(2) {
    transform: rotate(100deg);
    position: absolute;
    right: -19%;
    top: 21%;
    box-shadow: -9px 4px 2px 3px #191a1aad;
  }

  .circle .item:nth-child(3) {
    transform: rotate(145deg);
    position: absolute;
    left: 37%;
    box-shadow: -9px 4px 2px 3px #191a1aad;
    top: 71%;
  }

  .circle .item:nth-child(4) {
    transform: rotate(162deg);
    position: absolute;
    right: 64%;
    top: 40%;
    box-shadow: -9px 4px 2px 3px #191a1aad;
  }


}

.left-section {
  padding: 60px 0px;
}

.d {
  width: 600px;
  height: 600px;
  background: #FFFFFF;
  border: 1px solid #E6ECEF;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px 1px #fafafacc;
  border-radius: 0;
  padding: 60px;
}

.circle-container2 .circle .item:nth-child(2) {
  transform: rotate(124deg);
  position: absolute;
  right: 8%;
  top: 24%;
  box-shadow: 10px 1px 2px 3px rgba(25, 26, 26, 0.6784313725);
}

.circle-container2 .circle .item:nth-child(1) {
  transform: rotate(123deg);
  position: absolute;
  top: 34%;
  left: -26%;
  box-shadow: -9px 4px 2px 3px rgba(25, 26, 26, 0.6784313725);
}

.reg-text {
  font-size: 24px;

}

button [type="reset"] {
  color: #fff;
  background-color: #FF9800;
  border-color: #ff9800;

  &:hover {

    background-color: #FF9800;
    border-color: #ff9800;
  }
}




/* style.css */
.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #80808021;
  padding: 4px 6px 10px 4px;
  width: 100%;

  .input {
    width: 30px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    text-align: center;
    font-size: 22px;
    cursor: not-allowed;
    pointer-events: none;
    background: none;
  }

  .input:focus {
    border-bottom: 3px solid orange;
    outline: none;
  }

  .input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
  }
}

.switch-login-method {

  display: flex;
  align-items: center;
}


.btn {
  width: 100% !important;
  margin: 7px;
}

.btn.disabled,
.btn:disabled {
  opacity: 1;
  color: #d8e2b2a8 !important;
}


.gmt-box {
  width: 80%;
  margin-left: 10%;
  background: #fff;
  color: #000;
  padding: 2rem;
  position: relative;
  height: 516px;
  margin-top: 176px;
  border-radius: 10%;

  img {
    position: absolute;
    width: 155px;
    height: 162px;
    top: -16%;
    left: 26%;
    border-radius: 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .list-item {
    list-style: none;
    margin-top: 53px;

    ul li {
      font-size: 22px;
      text-align: left;
      margin: 10px auto;
    }
  }
}

.qua-box {
  position: absolute;
  left: 34%;
  top: -112%;
  border-radius: 50%;
  border: 3px solid;
  width: 177px;
  background: #fff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

img.qua-cls {
  border-radius: 45% 45% 0 0;
}

.web-link {
  text-align: center !important;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-self: self-end;
}

.text-center {
  text-align: center !important;
  width: 100%;

  a {
    color: yellow !important;
  }
}

img.by-cls {
  position: absolute;
  bottom: -22px;
  left: 41%;
  width: 35px;
  height: 27px;
}