<div class="login-page row" [@routerTransition]>
    <div class="col-md-12 row">
         <div class="col-6" style=" margin-top:15px;padding-left:20px ; text-align:left;">
              <label><span style="font-size: 24px;color: #fffbff;">
                      For Buyer
                      <span class="reg-text">Start Registration - <a [routerLink]="['/login/reg-client']"> <span
                              class="blink testing" style="color: #CDDC39;font-weight: bold;">Click Here</span></a> </span></span>
              </label>
          </div>
          <div class="col-6" style=" margin-top:15px;padding-right:20px ; text-align:right;">
              <label><span style="font-size: 24px;color: #fffbff;">
                      For Seller
                      <span class="reg-text">Start Registration - <a [routerLink]="['registervendor']"> <span
                              class="blink testing" style="color: #CDDC39;font-weight: bold;">Click Here</span></a> </span></span>
              </label>
          </div>
    </div>
    <!-- <img class="bg-img" src="assets/images/new/login-bg.svg" [ngClass]="{'class': true}" /> -->
  <!-- <div class="col-md-8 left-section curved-line">
      <img src="/assets/images/Graphic_branding.svg" width="350">
      <div id="demo" class="carousel slide" data-ride="carousel"> 
          <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
          </ul> 
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <h4>Welcome to Procurement Automation and TEchnified Sourcing Service</h4><br />
                  <small>Procucev is a pioneer in providing digital procurement as a service with latest technology
                      and unique service.</small>
              </div>
              <div class="carousel-item">
                  <h4>We use our in-house cloud-based technology platform, armed with latest tools</h4><br />
                  <small>This results in streamlined business processes and enables proper control mechanism which can
                      be customized as per clients’ internal controls.</small>
              </div>
              <div class="carousel-item">
                  <h4>Procucev spreads its identity across sectors by expanding its clientele</h4><br />
                  <small>Retail, Manufacturing, F&B and many more sectors while establishing strong presence in
                      enterprise capex procurements.</small>
              </div>
          </div>
          <div class="more-info">
              For more details visit <a href="https://www.procucev.com" target="_blank" style="color: #FF9800;"><b>
                      www.procucev.com </b></a>
          </div>
      </div>
  </div> -->

  <div class="col-md-3  col-sm-12"  >
      <div class="row" style="margin-bottom: 0px;">
         
          <div class="col-md-12">
            <div class="gmt-box">
                <img src="assets/images/new/GMT.png" />
                <div class="list-item">
                    <ul>
                        <li>Get My quoTe (GMT) is the one platform that connects verified Buyers and Sellers for seamless industrial sourcing
                        </li>
                        <li>
                            GMT simplifies sourcing and boosts efficiency for both sides.
                        </li>
                    </ul>
                </div>
            </div>
          </div>
          
      </div>
      

  </div>
  <div class="col-md-6 col-sm-12" style="display: flex;
    align-items: center;
    justify-content: center;">
    <div class="row right-section m-4">
          <div class="col-md-12  col-xs -12 login-form row">
            <div class="col-12">
                <div class="qua-box">
                    <img class="qua-cls" src="assets/images/new/qua.png" width="108" height="143" />
                    <img class="by-cls" src="assets/images/new/by_1.png" width="20" height="18" />
                </div>
                
                <div class="col-12">
                  <img src="assets/images/new/qua-procucev.png" width="250px" height="140" class="" style="        width: 370px;
    height: 80px;"/>
                  <p style="    color: #202020;  font-size: 1.5rem;  font-weight: 600;">Login to access your account</p>
                </div>
                </div>
                 <div class="col-12">

                  <form role="form" class="row">
                    <div class="col-12 ">
                        <p *ngIf="isCreadentialsEmpty">Please Enter User Name & Password</p>
                        <div class="form-content">
                            <div class="form-group">
                                <div class="col-12 input-label"><label for="email">Email:</label></div>
                                <input type="text" name="userName" [(ngModel)]="userName"
                                    (keydown)="resetCredentialsMsg()" class="form-control" id=""
                                    placeholder="Enter Your Email" style="margin-bottom: 30px;">
                            </div>
                              <div class="form-group">
                                <div class="col-12 input-label"><label for="mobile">Mobile Number(Registered):</label></div>
                                <div class="mobile-box">
                                     <span style="color:#666262">IND +91</span>
                                     <input    name="mobileNumber" [(ngModel)]="mobileNumber" maxlength="10" (keypress)="numberOnly($event)" minlength="10" type="text"
                                    (keydown)="resetCredentialsMsg()" class="form-control"  pattern="^[1-9][0-9]{9}$"

                                    placeholder="Enter Your Registered Mobile Number" style="margin-bottom: 30px;">
                                </div>
                               
                            </div>

                            <div class="row  " style="    display: flex ; align-items: center; justify-content: right;color: #000; font-weight: 600;">

                              <label class="switch-login-method">
                                <input type="checkbox" [disabled]="!mobileNumber" style="    width: 24px;
                                height: 24px;" (click)="onLoginMethodChange($event)" [(ngModel)]="otpEnabled" [value]="true" [checked]="otpEnabled"
                                name="otpEnabled"  [ngModelOptions]="{standalone: true}">
                              </label>   Login With  OTP (Via Email)
                            </div>



                            <div class="form-group"  *ngIf="!otpEnabled">
                                <div class="col-12 input-label"><label for="paswd">Password:</label></div>
                                <input [type]="visiblePassword?'text':'password'" name="userPassword"
                                    [(ngModel)]="userPassword" (keydown)="resetCredentialsMsg()"
                                    class="form-control" id="" placeholder="Password"  style="margin-bottom: 0 !important;">
                                <span class="eyeicon" (click)="viewPassword()"><i
                                        [ngClass]="visiblePassword?'fa fa-eye fa-lg':'fa fa-eye-slash fa-lg'"></i></span>
                            </div>
                            <div class="form-group " *ngIf="otpEnabled  ">
  
                                    <input type="text"  class="form-control"  (keypress)="numberOnly($event)"   placeholder="Enter Mobile OTP (6 Digits)" maxlength="6" minlength="6" name="otpNumber" [(ngModel)] ="otpNumber" [ngModelOptions]="{standalone: true}"
                                  [disabled]="  isOTPVerified || (!mobileNumber || !userName) "  style="margin-bottom: 0 !important;"/>
                                  </div> 
                                   
                        </div>
                         <div style="text-align: end;">
                          <small (click)="forgotpassword()"  style="cursor: pointer;font-size: 11px; font-weight: bold; color: #FC1313;">Forgot password</small>
                      </div>
                        <div class="row" *ngIf="otpEnabled && mobileNumber && userName ">
                            <div class="col-6" [ngClass]="{'col-6': isResendOTP , 'col-12': !isResendOTP}">
                                <button class="btn btn-blue" (click)="sendOrValidateOTP()" [disabled]="isOTPVerified">{{!isOTPSent? (  'Send OTP'):'Validate OTP 
                                & Login '}}</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-blue" (click)="resendOTP()"   *ngIf="isResendOTP" [disabled]="resendOTPTime > 0">{{ 'Resend OTP in ' + resendOTPTime+' Secs.'}}</button>
                            </div> 
                        </div>

                       
                        <div class="row login-btns" *ngIf="!otpEnabled">
                           
                            <button class="btn btn-danger" type="reset" style="margin-top: 0px;">Reset</button>
                             <button class="btn btn-primary" (click)="onLoggedin()">Login</button>
                        </div>
                    </div>
                </form>
                 </div>

          </div>

      </div>

  </div>
  <div class="col-md-3 col-sm-12">
    <div class="row">
        
          <div class="col-md-12">
            <div class="gmt-box">
                <img src="assets/images/new/BFS_w.png" class="card-img-top" alt="assets/images/new/BFS_w.png">
                <div class="list-item">
                    <ul>
                        <li>Buy From Stock (BFS) <br />
                             Revolutionize Inventory models
                        </li>
                        <li>
                           Faster procurement with  real-time access <br />to available inventory and instant deals.
                        </li>
                    </ul>
                </div>
            </div>
          </div>
    </div>

  </div>
  <div class="col-12 web-link ">
    <p class="text-center">For more information about our services/offerings - Visit : <a class="text-primary" target="_blank" href="https://www.procucev.com">www.procucev.com</a></p>
  </div>
</div>
