<div class="login-page row" [@routerTransition]>
  <!-- <div class="">
      <h3>Welcome to
          <span class="scroll-cap">P</span><span class="scroll-cap1">rocurement </span>
          <span class="scroll-cap">A</span><span class="scroll-cap1">utomation and </span>
          <span class="scroll-cap">TE</span><span class="scroll-cap1">chnified </span>
          <span class="scroll-cap">S</span><span class="scroll-cap1">ourcing </span>
          <span class="scroll-cap1">Service </span> </h3>
      </div>
  <div class="row justify-content-md-center">
      <div class="col-md-4 procucevlogin">
          <img src="assets/images/logo_procuceve.JPG" width="250px" class="" />
          <h1 class="marginTop20">Login</h1>
          <form role="form">
              <div class="" *ngIf="isCreadentialsEmpty" style="font-size: 14px; color: rgb(255, 253, 253);">Please Enter User Name & Password</div>
              <div class="form-content">
                  <div class="form-group">
                      <input type="text" name="userName" [(ngModel)]="userName" (keydown)="resetCredentialsMsg()" class="form-control input-underline input-lg" id="" placeholder="Enter Your Email">
                  </div>

                  <div class="form-group">
                      <input type="password" name="userPassword" [(ngModel)]="userPassword" (keydown)="resetCredentialsMsg()" class="form-control input-underline input-lg" id="" placeholder="Password">
                  </div>
              </div>

              &nbsp;
              <button class="btn rounded-btn" style=" width: 217px; margin-bottom: 25px;"  (click)="onLoggedin()">{{ 'Log in'}}</button>
              <div ><span class="" style="color: #b5cde2;"> Forgot password ? &nbsp;<span (click)="forgotpassword()" style="    color: #fff;border-bottom: 1px dashed; cursor: pointer;">Click Here</span> </span></div>

          </form>
      </div>
  </div> -->
  <div class="col-md-8 left-section curved-line">
      <img src="/assets/images/Graphic_branding.svg" width="350">
      <div id="demo" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          <!-- The slideshow -->
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <h4>Welcome to Procurement Automation and TEchnified Sourcing Service</h4><br />
                  <small>Procucev is a pioneer in providing digital procurement as a service with latest technology
                      and unique service.</small>
              </div>
              <div class="carousel-item">
                  <h4>We use our in-house cloud-based technology platform, armed with latest tools</h4><br />
                  <small>This results in streamlined business processes and enables proper control mechanism which can
                      be customized as per clients’ internal controls.</small>
              </div>
              <div class="carousel-item">
                  <h4>Procucev spreads its identity across sectors by expanding its clientele</h4><br />
                  <small>Retail, Manufacturing, F&B and many more sectors while establishing strong presence in
                      enterprise capex procurements.</small>
              </div>
          </div>
          <div class="more-info">
              For more details visit <a href="https://www.procucev.com" target="_blank" style="color: #FF9800;"><b>
                      www.procucev.com </b></a>
          </div>
      </div>
  </div>

  <div class="col-md-4 " style="    background: #00BCD4;">
      <div class="row" style="margin-bottom: 0px;">
          <div class="col-6" style=" margin-top:15px;padding-left:20px ; text-align:left;">
              <label><span style="font-size: 20px;color: #fffbff;">
                      For Buyer
                      <span class="reg-text">Start Registration - <a [routerLink]="['/login/reg-client']"> <span
                              class="blink testing" style="color: #F44336;font-weight: bold;">Click Here</span></a> </span></span>
              </label>
          </div>
          <div class="col-6" style=" margin-top:15px;padding-right:20px ; text-align:right;">
              <label><span style="font-size: 20px;color: #fffbff;">
                      For Seller
                      <span class="reg-text">Start Registration - <a [routerLink]="['registervendor']"> <span
                              class="blink testing" style="color: #F44336;font-weight: bold;">Click Here</span></a> </span></span>
              </label>
          </div>
      </div>
      <div class="row right-section m-4">
          <div class="col-md-12  col-xs -12 login-form row">
                <div class="col-12">
                  <img src="assets/images/Procucev_Logo.svg" width="250px" class="" />
                  <p>Login to access your account</p>
                </div>
                 <div class="col-12">

                  <form role="form" class="row">
                    <div class="col-12 ">
                        <p *ngIf="isCreadentialsEmpty">Please Enter User Name & Password</p>
                        <div class="form-content">
                            <div class="form-group">
                                <div class="col-12 input-label"><label for="email">Email:</label></div>
                                <input type="text" name="userName" [(ngModel)]="userName"
                                    (keydown)="resetCredentialsMsg()" class="form-control" id=""
                                    placeholder="Enter Your Email" style="margin-bottom: 30px;">
                            </div>
                              <div class="form-group">
                                <div class="col-12 input-label"><label for="mobile">Mobile Number(Registered):</label></div>
                                <input  inputmode="numeric" name="mobileNumber" [(ngModel)]="mobileNumber" maxlength="10"
                                    (keydown)="resetCredentialsMsg()" class="form-control" id=""
                                    placeholder="Enter Your Your Registered" style="margin-bottom: 30px;">
                            </div>

                            <div class="row  " style="    display: flex
                            ;
                                align-items: center;
                                justify-content: right;">

                              <label class="switch-login-method">
                                <input type="checkbox" [disabled]="!mobileNumber" style="    width: 24px;
                                height: 24px;" (change)="onLoginMethodChange($event)" [(ngModel)]="otpEnabled" [value]="true" [checked]="otpEnabled">
                              </label>   Login With  OTP (Via Email)
                            </div>



                            <div class="form-group"  *ngIf="!otpEnabled">
                                <div class="col-12 input-label"><label for="paswd">Password:</label></div>
                                <input [type]="visiblePassword?'text':'password'" name="userPassword"
                                    [(ngModel)]="userPassword" (keydown)="resetCredentialsMsg()"
                                    class="form-control" id="" placeholder="Password">
                                <span class="eyeicon" (click)="viewPassword()"><i
                                        [ngClass]="visiblePassword?'fa fa-eye fa-lg':'fa fa-eye-slash fa-lg'"></i></span>
                            </div>
                            <div class="form-group" *ngIf="otpEnabled">

                                <div class="otp-container">
                                  <input type="number"  class="form-control"style="width:50%" maxLength="6" placeholder="Enter 6digits OTP here..." name="otpNumber" [(ngModel)] ="otpNumber" [ngModelOptions]="{standalone: true}"
                                  [disabled]="  isOTPVerified || (!mobileNumber || !userName) " />
                                  <button class="btn btn-blue" (click)="sendOrValidateOTP()" [disabled]="isOTPVerified">{{!isOTPSent? 'Send ':'Validate '+  'OTP'}}</button>

                                  <!-- <div id="inputs" class="inputs">
                                      <input class="input" type="text"
                                          inputmode="numeric" maxlength="1" [(ngModel)]="otp.otp1" name="otp1" (keydown)="onKeyDown('otp1', $event)"   [ngModelOptions]="{standalone: true}"/>
                                      <input class="input" type="text"
                                          inputmode="numeric" maxlength="1"  [(ngModel)]="otp.otp2" name="otp2" (keydown)="onKeyDown('otp2', $event)"  [ngModelOptions]="{standalone: true}" />
                                      <input class="input" type="text"
                                          inputmode="numeric" maxlength="1"   [(ngModel)]="otp.otp3" name="otp3" (keydown)="onKeyDown('otp3', $event)" [ngModelOptions]="{standalone: true}" />
                                      <input class="input" type="text"
                                          inputmode="numeric" maxlength="1"  [(ngModel)]="otp.otp4" name="otp4" (keydown)="onKeyDown('otp4', $event)" [ngModelOptions]="{standalone: true}" />
                                      <input class="input" type="text"
                                         inputmode="numeric" maxlength="1"  [(ngModel)]="otp.otp5" name="otp5" (keydown)="onKeyDown('otp5', $event)"  [ngModelOptions]="{standalone: true}"/>
                                      <input class="input" type="text"
                                          inputmode="numeric" maxlength="1"  [(ngModel)]="otp.otp6" name="otp6" (keydown)="onKeyDown('otp6', $event)"  [ngModelOptions]="{standalone: true}"/>
                                  </div> -->
                              </div>
                            </div>
                        </div>

                        <div style="text-align: end;">
                          <small (click)="forgotpassword()">Forgot password</small>
                      </div>
                        <div class="row login-btns" *ngIf="!otpEnabled">
                            <button class="btn btn-primary" (click)="onLoggedin()">Login</button>
                            <button class="btn btn-danger" type="reset" style="margin-top: 0px;">Reset</button>
                        </div>
                    </div>
                </form>
                 </div>

          </div>

      </div>

  </div>
</div>
