.mat-tab-body-content {
  overflow: unset !important;
}

.mat-tab-body-content.ng-trigger.ng-trigger-translateTab {
  overflow: unset !important;
  height: auto !important;
}

.ui-table-scrollable-body {
    overflow: auto;
    position: relative;
    height: auto;
    max-height: 530px;
    overflow-y: auto;
}

.mat-tab-label,
.mat-tab-link {
  font-size: 18px !important;
}


 @media screen and (min-width: 1441px) and (max-width: 1600px) {
  .ui-table-scrollable-body {
    overflow: auto;
    position: relative;
    height: auto;
    max-height: 530px;
    overflow-y: auto;
}
 }

 @media screen and (min-width: 1367px) and (max-width: 1440px) {
  .ui-table-scrollable-body {
    overflow: auto;
    position: relative;
    height: auto;
    max-height: 500px;
    overflow-y: auto;
}
 }

 @media screen and (min-width: 1281px) and (max-width: 1366px) {
  .ui-table-scrollable-body {
    overflow: auto;
    position: relative;
    height: auto;
    max-height: 460px;
    overflow-y: auto;
}

.main-container[_ngcontent-c3] {
  margin-top: 56px;
  margin-left: 200px;
  padding: 13px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  overflow: hidden;
  max-height: 87vh;
  height: auto;
}
 }
 @media screen and (min-width: 1025px) and (max-width: 1280px) {
  .ui-table-scrollable-body {
    overflow: auto;
    position: relative;
    height: auto;
    max-height: 405px;
    overflow-y: auto;
}
 }



// new grid starts
body a {
    color: #234AD5;
}

body .ui-table .ui-table-thead>tr>th {
// height: 51px;
    // line-height: 150%;
    // color: #000000;
    // padding: 0.871em 0.857em;
    // border: 0px solid #eef0f2;
    // font-weight: 500;
    // background-color: #f2f5fc;
    // font-size: 1rem;
    // line-height: 1.5;
    // letter-spacing: 0.00938em;
    // text-shadow: 0px 0px 0px #000000;
    height: 51px;
    line-height: 150%;
    // color: #475467;
    color: #000000;
    padding: 0.871em 0.857em;
    border: 0px solid #eef0f2;
    font-weight: 500;
    background-color: #f2f5fc;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-shadow: 0px 0px 0px #000000;
}
body .ui-table .ui-table-tbody > tr > td {
    background: inherit;
    border: 0px solid #c8c8c8;
    padding: 0.829em 0.857em;
    line-height: 28px;
    color: #242426;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-shadow: 0px 0px 0px #242426;
}
body .ui-table .ui-table-tbody > tr.ui-state-highlight {
    background-color: #0000 !important;
    color: #0C2146 !important;
    box-shadow: inset 2px 0px 1px 0px #0C2146;
    position: relative;
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



// new Design Implementation

.table-title {
  color: #0C2146;
  border-radius: 3px 3px 0 0;
  // padding: 15px 0px;
  padding-bottom: 15px;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
  float: left;
  font-weight: 700;
  color: #ff4800;
}
.table-title p {
  margin: 5px 0 0;
  font-size: 14px;
  float: left;
  font-weight: 600;
  color: #788091;
  padding: 6px;
}
.table-title .btn-group {
  float: right;
}
.table-title .btn {
  float: right;
  font-size: 1em !important;
  min-width: 50px;
  border-radius: 5px !important;
  border: none;
  outline: none !important;
  margin-left: 10px;
  max-height: 48px;
  min-height: 48px;
}
.table-title .btn i {
  float: left;
  font-size: 19px;
  margin: 0px 6px;
  font-weight: 700;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}

.rippel-btn{
  border: 1px solid #315eff !important;
  color: #315eff !important;
  box-shadow: none !important;
  background-color: #fff !important;
}

.rippel-btn-size{
  max-height: 40px !important;
  min-height: 40px !important;
}
.btn-light{
  border: 2px solid #ccc !important;
}
.main-input {
  background: #fff;
  height: 42px;
  width: 400px;
  color: #a7b1ab;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px #1018280d;
  margin-bottom: 0px;
  -webkit-appearance: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: inline-block;
  text-align: left;
  font-weight: 500;
  padding: 0px 0px 0px 55px;
  font-size: 16px;
  background: #ffffff url(http://seodesigns.com/projects/TD/images/search.png) 18px 12px no-repeat;
  background-size: 18px 18px;
  float: left;
}
.grid-expand{
  border: none;
  font-size: 10px;
  width: 24px;
  height: 24px;
  background: #276a9f;
  border-radius: 4px;
  span{
      color: #164b99;
  }
}
.table-search {
  color: #0C2146;
  border-radius: 3px 3px 0 0;
  padding: 0px;
}
.table-search .btn {
  float: right;
  font-size: 13px !important;
//   min-width: 44px;
  border-radius: 5px !important;
  border: none;
  outline: none !important;
  margin-left: 10px;
  max-height: 42px;
  min-height: 42px;
  padding: 10px !important;
}
.table-search i {
  font-size: 16px;
}
.table-search .btn-transparent{
  background-color: #fff;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px #1018280d;
  color: #344054;
  font-weight: 600;
  padding: 10px 20px !important;
}
.dot {
  height: 12px;
  width: 12px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 3px 0px 6px;
}
.child-grid{
  background: #f4f4f4 !important;
}


// .............!

body .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ffffff;
  padding: 0px;
  text-align: right;
  height: 75px;
}

.ui-table {
  position: relative;
  border: 2px solid #E1E5EC;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px -2px #1018281a, 0px 2px 4px -2px #1018280f;
  border-radius: 4px;
}

.table-search .ui-dropdown{
  background: #ffffff;
  border: 1px solid #cccccc !important;
  transition: border-color 0.2s;
  line-height: 2;
  text-align: left;
  padding-left: 1em;
  width: 150px !important;
}
.ui-paginator-pages .ui-paginator-page.ui-state-active{
  background-color: transparent !important;
  color: #000000 !important;
  font-weight: 600;
}
body .ui-paginator {
  background-color: #ffffff;
  border-top: 1px solid #eaecf1 !important;
  margin: 0;
  text-align: right;
  padding: 4px 5px;
  border: none;
}
body .ui-table .ui-table-tbody > tr{
  border: 1px solid #efefef;
}
body .ui-table .ui-table-tbody > tr:nth-child(even){
  border: 1px solid #efefef;
  background: white;
}

::ng-deep .grid-expand {
  border: none;
  font-size: 10px;
  width: 24px;
  height: 24px;
  background: #276a9f !important;
  border-radius: 4px;
}


// new CSS for V1


.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: none !important;
  border-width: 0 0 1px 0;
  padding: 0.5rem 1rem !important;
}

.p-datatable .p-datatable-thead > tr > th{
 background-color:  #485a6c1c
}


body .ui-table .ui-table-tbody > tr:nth-child(even){
  border: 1px solid #efefef;
  background-color: red !important;
}

.p-datatable .p-datatable-tbody > tr > td:nth-child(1) {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  position: relative;
}
.p-datatable .p-datatable-tbody > tr > td:last-child {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.p-datatable .p-datatable-tbody > tr:nth-child(even) {
  background: #ffffff;
  color: #495057;
  transition: box-shadow 0.2s;
  border-radius: 10px;
  background: rgb(34 83 140 / 10%);
  border-spacing: 0 10px;
    border-collapse: separate;
}

.p-datatable .p-datatable-tbody > tr:nth-child(odd) {
  background: #ffffff;
  color: #495057;
  transition: box-shadow 0.2s;
  border-radius: 10px;
  background: rgb(255 72 0 / 7%);
}

::ng-deep .p-datatable .p-datatable-tbody > tr{

  border-spacing: 0 10px;
    border-collapse: separate;
}

table, .p-datatable-table{
  border-spacing: 0 3px !important;
  border-collapse: separate;
}
.grid-expand {
  border: none;
  font-size: 14px;
  width: auto;
  height: 20px;
  background: none;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 8px;
  span {
    color: #FF9800 !important;
    padding: 3px 7px 3px 10px;
    background: #3f9fe8a8;
    border-radius: 20px;
  }
}
