.quote-count-cls{
    border: 2px solid rgb(85, 199, 225);
    border-radius: 3px;
    padding:3px;
}

::ng-deep .gmt-container{
    .ui-table .ui-table-tbody > tr{
         border-bottom: 3px solid #ff480057 !important;
         border-top: 3px solid #ff480057 !important;
         background-color: #ff7a4612;
     }
     .ui-table .ui-table-tbody > tr:nth-child(even) {
         border: 1px solid #efefef !important;
         background: #edf6f787 !important;
     }
     .ui-table .ui-table-thead > tr > th {
         color: #f9f7f7 !important;
         background-color: #ff4800 !important;
         text-shadow: 0px 0px 0px #ffffff !important;
     }
      .ui-table .ui-sortable-column a, body .ui-table .ui-sortable-column a:hover {
         color: #ffffff !important;
     }
     .ui-table{
         .ui-button {
             margin: 0;
             color: #ffffff;
             background-color: #FF5722 !important;
             border: 1px solid #ff4800 !important;
             font-size: 14px;
             transition: background-color 0.2s;
         }
     }
     .grid-expand span {
         color: #fffcfb !important;
     }
     .ui-table .ui-table-tbody > tr.ui-state-highlight{
         box-shadow: inset 2px 0px 1px 0px #ff4800  !important;
     }
 }


