.textAreaCls{
    border-radius: 16px;
    width: 100%;
    position: relative;
    resize: none;
    border: 1px solid #ced4da;
    overflow-y: hidden;
}

.queAnsCls{
    background: #e9ecef;
    border: 1px solid #e9ecef;
    border-radius: 20px;
    color: #000000;
    position: relative;
    margin: 15px auto;
}

.queAnsCls .title {
    width: 100%;
    border-bottom: 1px solid #ffffff;
    font-size: 12px;
    padding: 0px 7px;
}


.queAnsCls .content {
    padding: 5px 10px;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.5px;
    font-variant-caps: normal;
}

.commentedByCls{
    color: #0C2146;
}
