<div class="col-md-12 pad-nill"   #pposRef>
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Bid Items For Approval</h2>
          <p><span class="dot"></span>{{itemList.length}} Total</p>
        </div>
        <div class="col-sm-6">

        </div>
      </div>
    </div>

    <p-table dataKey="id"  [ngClass]="{  'bfs-container': isBFSView}"  #itemCatalogueTable [columns]="itemHeaders" [value]="itemList" sortMode="multiple" [paginator]="true"
      [rows]="pageRecordSize" id="prqTable" [rowsPerPageOptions]="pageOptions"  [tableStyle]="{ minWidth: '100%'}"
      exportFilename="items details" [(selection)]="selectedData" [scrollable]="true" [scrollHeight]="'calc(100vh - 218px)'"  >
      <!-- [expandedRowKeys]="expandedRows" -->
      <ng-template pTemplate="caption">
        <div class="table-search">
          <div class="row">
            <div class="col-sm-6">
              <input class="main-input" type="text" pInputText size="50" placeholder="Search.."
                (input)="itemCatalogueTable.filterGlobal($event.target.value, 'contains')" />
            </div>
            <div class="col-sm-6">
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em">
            </th>
          <ng-container *ngFor="let col of columns">
            <th [style.width]="col.width" [pSortableColumn]="col.field" [title]="col.fieldTitle">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </ng-container>
          <th   style="width:6rem">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
        <tr [pSelectableRow]="rowData">
            <td style="width: 3em">
                <button  type="button" pButton pRipple [pRowToggler]="rowData"
                (click)="expanded ? getCloseRFQs(rowData,$event) : getRFQs(rowData,$event)"
                    class="grid-expand"  >
                   <i class="fa fa-chevron-down" [ngClass]="{'fa-chevron-down': expanded, 'fa-chevron-right': !expanded}"></i>
                </button>
            </td>
          <td *ngFor="let col of columns" [style.width]="col.width"
          [ngClass]="{'table-cell-overflow-ellipse-desc': col.isExceedContent }"
          [ngStyle]="{'max-width': col.isExceedContent ? col.width: 'auto'}"
          [title]="col.isExceedContent == true ?  rowData[col.field]: ''">
          <span class="blink" *ngIf="col.field=='description' && (rowData.requestedFlag && rowData.requestedFlag  == true)">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </span>

            <span *ngIf="!col.isLink && col.fieldType != 'date' && col.field != 'description' && col.field != 'specification'"  class="align-items-center price-icon-alignment"   [ngClass]="{'price-icon-alignment': col.field == 'price'}">
                    <span [ngClass]="{'price-content': col.field == 'price'}">
                    <span *ngIf="col.field == 'itemNumber'">
                        <span *ngIf="rowData?.itemNumber != null && rowData?.itemNumber != ''">{{rowData[col.field]}}</span>
                        <span *ngIf="rowData?.itemNumber == null || rowData?.itemNumber  == ''" class="cellLinkCls" (click)=" getVendorAndClientListByItemId(rowData,$event, true)">Assign Category</span>
                    </span>
                    <span *ngIf="col.field != 'itemNumber'">
                        <span *ngIf=" col.field == 'sellPrice'">{{ (rowData?.buyPriceDisclosure == true ||  rowData[col.field] >0) ? (rowData[col.field]) : 'QYP' }}</span>
                        <span *ngIf=" col.field != 'sellPrice'">  {{rowData[col.field]}}</span>
                        <span *ngIf="col.field == 'discount' || col.field == 'buyerDiscount'">% </span> </span>
                </span>
            </span>


            <span *ngIf="col.fieldType == 'date'" [title]="rowData[col.field] | date:'dd-MMM-yyyy hh:mm a'">
              {{rowData[col.field] | date: 'dd-MMM-yyyy'}}
            </span>
            <span *ngIf="col.field == 'description' || col.field == 'specification'" [title]="rowData[col.field]" >
                <button type="button" class="btn-skelton" >  <app-bfs-images-view [selectedId]="rowData.id" *ngIf="rowData?.imagesFlag == true && col.field == 'description'"></app-bfs-images-view>
                </button>     {{rowData[col.field]}}
            </span>

          </td>
          <td   style="width:6rem">
            <button type="button" class="btn-skelton" >
                <img src="/assets/images/new/view-doc.png" (click)="onViewItemDetails(rowData, false)"
                    title="View Item Details">
                     </button>


          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-rowData>
        <tr class="child-grid" *ngIf="selectedRowData">
            <td colspan="6">
                <div class="p-p-3">
                  <mat-tab-group>
                    <mat-tab label="Buyers" *ngIf="selectedRowData ">
                        <div class="rfqContainer ">
                            <div class="table-title">
                                <div class="row">
                                  <div class="col-sm-6 mt-2">
                                    <h2 style="margin: 10px 0 0;
                                    font-size: 18px;
                                    float: left;
                                    font-weight: 500;
                                    color: #1a6895;">Requested Buyers</h2>
                                  </div>
                                  <div class="col-sm-6">
                                  </div>
                                </div>
                              </div>

                              <ng-container *ngTemplateOutlet="buyersListGridTemplate"></ng-container>
                        </div>
                    </mat-tab>
                  </mat-tab-group>
                </div>
            </td>
        </tr>
    </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="6" style="text-align:center;">
            No Records Found.
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <div  *ngIf="itemCatalogueTable._totalRecords > 0">
          <b>Showing {{itemCatalogueTable.first+1}} to {{itemCatalogueTable.first+itemCatalogueTable.rows > itemCatalogueTable.totalRecords?itemCatalogueTable.totalRecords: itemCatalogueTable.first+itemCatalogueTable.rows}} of {{itemCatalogueTable.totalRecords}}</b>
          <!-- <app-page-info [totalRecords]="itemList.length" [pageData]="paginatoryDetails"></app-page-info> -->
        </div>
      </ng-template>
    </p-table>
  </div>

<ng-template #viewItemDetailsTemplate>
    <div class="modal-header">
        <button class="btn btn-warning modal-close-btn" mat-dialog-close>✖</button>
        <div class="col-6">
            <h5>Item Details</h5>
        </div>

    </div>
    <div class="modal-body">
        <div class="row itemDetailsView">
            <div class="col-6">
                <label>Item Description</label>
                <label>{{selectedRowData.description}}</label>
              </div>
              <div class="col-6">
                <label>UOM</label>
                <label>{{selectedRowData?.unitofMeasures}}</label>
              </div>


          <div class="col-6">
            <label>Seller Company Name</label>
            <label>{{selectedRowData.sellerCompanyName}}</label>
          </div>
          <div class="col-6">
            <label>Seller Name</label>
            <label>{{selectedRowData.sellerName}}</label>
          </div>
          <div class="col-6">
            <label>Seller EmailId</label>
            <label>{{selectedRowData.sellerEmail}}</label>
          </div>
          <div class="col-6">
            <label>Seller Price(Per Unit)</label>
            <label>{{selectedRowData.sellPrice}}</label>
          </div>
          <div class="col-6">
            <label>Seller Sale Price(Per Unit)</label>
            <label>{{selectedRowData.sellFinalPrice}}</label>
          </div>
          <div class="col-6">
            <label>Seller Discount(%)</label>
            <label>{{selectedRowData.discount}}%</label>
          </div>

        <div class="col-6">
            <label>Buyer Company Name</label>
            <label>{{selectedRowData.buyerCompanyName}}</label>
        </div>
        <div class="col-6">
            <label>Buyer Name</label>
            <label>{{selectedRowData.buyerName}}</label>
        </div>
        <div class="col-6">
            <label>Buyer EmailId</label>
            <label>{{selectedRowData.buyerEmail}}</label>
        </div>
        <div class="col-6">
            <label>Buy Price(Per Unit)</label>
            <label>{{selectedRowData.buyerFinalPrice}}</label>
        </div>
        <div class="col-6">
            <label>Buyer Price(In Discount)</label>
            <label>{{selectedRowData.buyerDiscount}}%</label>
        </div>
        <div class="col-6">
            <label>Created Time</label>
            <label>{{selectedRowData.createdTS | date: 'dd-MMM-yyyy hh:MM:ss a'}}</label>
        </div>

        <div class="col-12" [ngClass]="{'col-4': isBidRequest}">
            <label>Remarks</label>
            <label>{{selectedRowData.remarks ? selectedRowData.remarks: '--'}}</label>
            </div>
            <div class="col-12" [ngClass]="{'col-4': isBidRequest}">
            <label for="attachments">Attachment</label>
            <app-download-attachments *ngIf="selectedRowData.bfsDocuments" [filesList]="selectedRowData.bfsDocuments"></app-download-attachments>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #buyersListGridTemplate>
    <div class="">
    <p-table  #vendorTable [columns]="buyersHeaders" [value]="bfsBuyersList" sortMode="multiple"
    [paginator]="true" [rows]="pageRecordSize" id="vendorTable" [rowsPerPageOptions]="pageOptions"
        [style]="{'width': '100%'}" exportFilename="roles details" [(selection)]="selectedData"  [scrollable]="true" [scrollHeight]="'calc(100vh - 200px)'">
        <ng-template pTemplate="caption">
          <div class="table-search">
            <div class="row">
              <div class="col-sm-6">
                <input class="main-input" type="text" pInputText size="50" placeholder="Search.."
                  (input)="vendorTable.filterGlobal($event.target.value, 'contains')" />
              </div>
              <div class="col-sm-6">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th style="width: 11em;"  >Actions</th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData">
              <td [style.width]="col.width" *ngFor="let col of columns" [ngClass]="{'table-cell-overflow-ellipse-desc': col.isExceedContent }" [ngStyle]="{'max-width': col.isExceedContent ? col.width: 'auto'}"  [title]="col.isExceedContent == true ?  rowData[col.field]: ''">
              <span *ngIf="!col.isLink">
                      <span *ngIf="col.fieldType != 'date'">
                        <i class="fa fa-info-circle" style="font-size: 1.2rem;cursor: pointer;color:rgb(255, 106, 0)" *ngIf="col.field =='vendorName' " (click)="getVendorInfo(rowData)"></i>
                        <app-bfs-user-info-details *ngIf="col.field == 'companyName'" [selectedId]="rowData?.userId" [labelName]="'Buyer'"></app-bfs-user-info-details>
                        {{rowData[col.field]}}

                      </span>
                      <span *ngIf="col.fieldType == 'date'" [title]="rowData[col.field] | date:'dd-MMM-yyyy hh:mm a'">
                        {{rowData[col.field] | date: 'dd-MMM-yyyy'}}
                      </span>

              </span>

              <span *ngIf="col.isLink" class="cellLinkCls"> <a href="javascript:void(0);"
                  (click)="getRFQLineItems(rowData, $event)"> {{rowData[col.field]}} </a></span>

              </td>
              <td style="width: 11em;"  >

                <span *ngIf="['CategoryManager'].includes(roleName)">
                    <button type="button"   class="btn btn-primary btn-blue" (click)="approveOrReject(rowData, true)">Approve</button>
                    <button  type="button"  class="btn btn-red btn-red"  (click)="approveOrReject(rowData, false)">Reject</button>
                </span>
              </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="5" style="text-align:center;">
            No Records Found.
            </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        <div *ngIf="vendorTable?._totalRecords > 0">
          <b>Showing {{vendorTable.first+1}} to {{vendorTable.first+vendorTable.rows > vendorTable.totalRecords?vendorTable.totalRecords: vendorTable.first+vendorTable.rows}} of {{vendorTable.totalRecords}}</b>
        </div>
        </ng-template>
  </p-table>
</div>
</ng-template>
