

    <div class="modal-header">
        <button class="btn btn-warning modal-close-btn" mat-dialog-close>✖</button>
        <div class="col-12">
            <h5  style="color: orange;">Registration Successfully Completed!</h5>
        </div>
    </div>
    <div class="modal-body text-center">
        <h5 style="color: orange;"> Thank you!</h5>
        <p style=" text-align: justify; font-size: 14px;"> We will be sending emails to your email address from <b>invitations@procucev.com</b>. Please add this email and the domain <b>@procucev.com</b> to your Email Safe Senders List, Address Book or Contact List. An email will be sent with Login details to use the platform. You can connect with us for any support through <b>info@procucev.com </b>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-blue" mat-dialog-close>Ok</button>
    </div>
