<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4 procucevlogin">
            <img src="assets/images/Procucev_Logo.svg" width="150px" class="user-avatar" />
          <div style="margin-top: 10px;">
            <h5 style="color: #fff;">Your session has been expired</h5>
            <p>OR</p>
            <h5 style="color: #fff;">Unauthorized Access</h5>
            <h6 class="marginTop20">
              Click here to <a [routerLink]="['/login']" style="color:#fff; border-bottom: 1px dotted;">Login</a>
            </h6>
          </div>
        </div>
    </div>
  </div>
