
<div class="login-page row" >
  <div class="col-md-4 left-section">
      <img src="/assets/images/Graphic_branding.svg" width="350">
      <div id="demo" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
                  <h4>Welcome to Procurement Automation and TEchnified Sourcing Service</h4><br />
                  <small>Procucev is a pioneer in providing digital procurement as a service with latest technology and unique service.</small>
            </div>
            <div class="carousel-item">
              <h4>We use our in-house cloud-based technology platform, armed with latest tools</h4><br />
                <small>This results in streamlined business processes and enables proper control mechanism which can be customized as per clients’ internal controls.</small>      
            </div>
            <div class="carousel-item">
              <h4>Procucev spreads its identity across sectors by expanding its clientele</h4><br />
                <small>Retail, Manufacturing, F&B and many more sectors while establishing strong presence in enterprise capex procurements.</small>
            </div>
          </div>
        </div>
  </div>
  <div class="col-md-8 right-section">
      <div class="d" *ngIf="!isOTPSent">
          <img src="assets/images/Procucev_Logo.svg" width="250px" class="" />
          <p>Password Resetting</p>
          <form   [formGroup]="passwdForm" (submit)="getOTP()">
            <div class="form-group  input-label">
              <label for="oldPwd">Current Password</label>
              <input type="password" formControlName="oldPwd" id="oldPwd" type="password" 
              class="form-control" id="oldPwd">
              <small class=" fa fa-info-circle dangerCls" *ngIf="(submitted || oldPwd.touched) && oldPwd.errors?.required"> Current Password is required.</small>
            </div>
            <div class="form-group  input-label">
              <label for="newPwd">New Password</label>
              <input type="password" formControlName="newPwd" 
               class="form-control" id="newPwd">
              <small class="fa fa-info-circle dangerCls" *ngIf="(submitted || newPwd.touched) && newPwd.errors?.required"> New Password is required.</small>
            </div>
            <div class="form-group  input-label">
              <label for="confirmPwd">Confirm Password</label>
              <input type="password"  formControlName="confirmPwd" 
              id="confirmPwd" class="form-control" >
              <small class="fa fa-info-circle dangerCls" *ngIf="(submitted || confirmPwd.touched )&& confirmPwd.errors?.required"> Confirm Password is required.</small>
              <small class="fa fa-info-circle dangerCls" *ngIf="(submitted || confirmPwd.touched )&& confirmPwd.valid && passwdForm.invalid && passwdForm.errors.pwdsDontMatch">
                 Passwords do not match.
              </small>
            </div>
            <div class="btns">
              <button class="btn btn-danger"    type="button" (click)="resetForm(passwdForm)">Reset</button>
              <button class="btn btn-primary"   type="submit">Submit</button>
            </div>
          
    
            <!-- <button  mat-raised-button color="primary"  cdkFocusInitial  type="button" style="margin-left: 100px;" >Skip & Continue</button> -->
          </form>
      </div>
      <div class="d" *ngIf="isOTPSent" >
          <div class="form-group" style="margin-top: 120px;">
                <label>Validate OTP</label>
                 <input type="text" required id="otpNumber" class="form-control" name="otpNumber"
                                   [(ngModel)]="otpNumber"  placeholder="Enter OTP (6Digits)" (keypress)="numberOnly($event)"  />
            </div>
            <div class="form-group" >
                <button class="btn btn-blue" type="button" (click)="getValidateOTP()">Update Password with OTP Verification</button>
            </div>
      </div>
  </div>
</div>



