<p-table dataKey="id" #prTable [columns]="prLineItemsTableHeaders" [value]="prLineItemsList"  sortMode="multiple" [paginator]="true" [rows]="pageRecordSize"  id="prTable"
  [rowsPerPageOptions]="pageOptions"  [style]="{width:'100%'}" exportFilename="roles details" [(selection)]="selectedData">
 
  <ng-template pTemplate="caption">
    <div class="table-search">
      <div class="row">
        <div class="col-sm-6">
          <input class="main-input" type="text" pInputText size="50" placeholder="Search.."
            (input)="prTable.filterGlobal($event.target.value, 'contains')" />
        </div>
        <div class="col-sm-6">
          <button [disabled]="selectedData?.length <= 0 || linkendFilterValue == 'Non-catalogue items'"
          type="button" class="btn btn-primary" (click)="createPpo()">Create PPO</button>
          <div class="col-md-8">
            <select style="float: right;" class="form-control" name="linkendFilter" [(ngModel)]="linkendFilterValue" #linkendFilter="ngModel" (change)="filterPrList()">
              <option [value]="undefined" selected disable>Select</option>
              <option *ngFor="let vertical of linkedPrValues; let j = index" [value]="vertical">{{vertical}}</option>
          </select>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field"
      [style.width]="col.width">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th style="width: 11em;">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-columns="columns" let-rowData>
    <tr [pSelectableRow]="rowData" >
      <td style="width: 3em">
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td>
      <td [style.width]="col.width" *ngFor="let col of columns" [ngClass]="{'table-cell-overflow-ellipse-desc': col.isExceedContent }" [ngStyle]="{'max-width': col.isExceedContent ? col.width: 'auto'}"  [title]="col.isExceedContent == true ?  rowData[col.field]: ''">
        <span *ngIf="!col.isLink && col.field != 'description'"> {{rowData[col.field]}}</span>
        <span *ngIf ="col.field == 'description'" > {{rowData[col.field]}}</span>
        <span *ngIf="col.isLink" class="cellLinkCls"> <a href="javascript:void(0);" > {{rowData[col.field]}} </a></span>
      </td>
      <td style="width: 11em;">
          <button *ngIf="!rowData.linkedItemStatus" type="button" class="btn btn-blue" (click)="onLinkNow(nonLinkedModal,rowData)">Link Now</button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="9" style="text-align:center;">
        No Records Found.
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <div  *ngIf="prTable._totalRecords > 0">

      <b>Showing {{prTable.first+1}} to {{prTable.first+prTable.rows > prTable.totalRecords?prTable.totalRecords: prTable.first+prTable.rows}} of {{prTable.totalRecords}}</b>

      <!-- <app-page-info [totalRecords]="prLineItemsList.length" [pageData]="paginatoryDetails"></app-page-info> -->
    </div>
  </ng-template>
</p-table>



<ng-template #nonLinkedModal>
    <div class="modal-header">
      <button class="btn btn-warning modal-close-btn"  mat-dialog-close>✖</button>
        <div class="col-6"><h5>Link Now</h5></div>
    </div>
    <div class="modal-body">
        <form  name="linkNow" (ngSubmit)="linkNow.form.valid && onlinkNowSubmit(linkNow)" #linkNow="ngForm" novalidate>
            <div class="col-md-12 row">
                <div class="col-md-12">
                    <div class="form-group">
                      <label for="itemId">Procucev Item Code</label>
                      <input type="text" class="form-control" placeholder="Procucev Item Code" name="itemId" [(ngModel)]="procucevItemCode" #itemId="ngModel"
                      [ngClass]="{ 'is-invalid': linkNow.submitted && itemId.invalid }" required />
                      <div *ngIf="linkNow.submitted && itemId.invalid" class="invalid-feedback">
                          <div *ngIf="itemId.errors.required">Procucev Item Code is required</div>
                      </div>
                  </div>
                  </div>
              </div>
          <button class="btn btn-primary" style="float: right" type="submit" >Submit</button>
      </form>
      </div>
  </ng-template>
