<div class="modal-header">
  <!-- /<button class="btn btn-warning modal-close-btn"  mat-dialog-close>✖</button> -->
  <div class="col-6 "><h5>Auction Configuration</h5></div>
    <div class="col-6  text-right" >
      <i class="fa fa-plus plusMinus plusColor" style="padding-right: 10px;cursor:pointer"  data-toggle="tooltip" title="zoom in" (click)="zoomin()"></i>
      <i class="fa fa-minus plusMinus minusColor " style="padding-right: 40px; cursor:pointer"  data-toggle="tooltip" title="zoom out" (click)="zoomout()"></i>
      <button class="btn btn-warning modal-close-btn" mat-dialog-close><i class="fa fa-window-close" aria-hidden="true"></i></button>
  </div>
</div>
<div class="modal-body">
  <div class="col-12" >
    <app-create-rar-auction *ngIf="isAdd"  [vendorData]="vendorData" [auctionType]="selectedAuction" [prItemsData]="data.prItemsList" [ppoItems]="data.ppoitems" [ppoData]="data"></app-create-rar-auction>
    <app-create-rai-auction *ngIf="!isAdd"  [rowData]="data"></app-create-rai-auction>
  </div>
</div>
