<div class="container-fluid" *ngIf="roleName == 'ClientInitiator'">
    <h2>FAQs for Procucev's GMT Portal.</h2>
    <div class="faq-content-box">
        <div class="query">
            <label>1.</label>
            <label> What is the Procucev GMT Portal?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>Procucev's Get My Quote (GMT) bridges the gap between Buyers and vendors. Enterprises get fast,
                competitive quotes, while vendors gain access to a pool of active clients and expand their
                business.</label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>2.</label>
            <label> What are the benefits of using the GMT Portal?</label>
        </div>
        <div class="ans">
            <ol type="a">
                <li>Access to a larger pool of vendors for competitive RFQ's</li>
                <li>Streamlined RFQ process with faster vendor responses</li>
                <li>Improved efficiency in sourcing and evaluating quotes.</li>
                <li>User-friendly interface for managing your procurement needs</li>
            </ol>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>3.</label>
            <label>Is there a cost to use the GMT Portal?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>No, there is currently no cost associated with using the GMT Portal for enterprises.</label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>4.</label>
            <label>How do I register for the GMT Portal and post RFQ on GMT?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>A <a href="https://qua.procucev.com/login/reg-client" target="_blank"><u>Link</u></a> will be
                provided for registration or you can directly register from Website near “Create
                RFQ” and after that the login details will be provided to your email for each user. The user can
                create the RFQ from that portal. The portal offers a simple form to create and publish your RFQ
                with detailed specifications.
            </label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>5.</label>
            <label>Can I customize my RFQs?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>Yes, you can customize your RFQs with specific details, attachments, and evaluation criteria to
                ensure you receive the most relevant quotes </label>
        </div>
    </div>

    <div class="faq-content-box">
        <div class="query">
            <label>6.</label>
            <label>How does Procucev protect my company's data?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>Procucev utilizes industry-standard compliances to safeguard your company's data. We have
                secure servers and none of the data gets deviated. You can find more details in our Privacy
                Policy.</label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>7.</label>
            <label>Is Procucev responsible for vendor delivery timelines or negotiations?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>While we offer a wide pool of vendors, the ultimate responsibility for vendor selection lies with
                you. All negotiations, contract terms, delivery timelines, and service level agreements are solely
                between you and the chosen vendor. The GMT is ideal for simple sourcing, while our full suite of
                services caters to more intricate requirements and offers expert guidance. You can connect to us
                for other services for end-to-end support. Visit our website to know more. </label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>8.</label>
            <label>What information is shared with vendors?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>When you post an RFQ, relevant details like project description, and required qualifications will be shared with vendors on the platform.</label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>9.</label>
            <label>Does the GMT Portal offer a pool of quotes, or are there additional features?</label>
        </div>
        <div class="ans" style="    display: block;">
            <label></label>
            <label>The core functionality is presenting you with a diverse pool of quotes and vendors for your
                RFQs.<br />
                However, for advanced features you can always explore our</label>
            <ol type="1">
                <li>Digital Procurement Service that offers a technology + service solution with category
                    experts, automated workflows, Price discovery with Dynamic Pricing and many more
                    advanced features</li>
                <li>Strategic Sourcing that offers a cost saving plan to optimize your procurement strategies and
                    secure the best value with the best quality at best price
                </li>
            </ol>
            <label>You can find detailed information about our full range of services on our website
                <a href="https://www.procucev.com" target="_blank"><u>www.procucev.com</u></a> Feel free to contact our team for
                a personalized demo</label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>10.</label>
            <label>What are the categories of vendors the portal has?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>We have different category vendors who are serving for different industries. To mention some,
                Civil works, Capex -Equipment and Machinery, Mechanical -Engineering items, Electrical Engineering
                items, Packing material, Logistics, Raw materials, Professional Services, HR and
                Admin services, Occupational and Safety health etc. </label>
        </div>
    </div>

</div>
<!-- For Vendor -->
<div class="container-fluid" *ngIf="roleName == 'Vendor' || roleName == 'Registration' || roleName == 'PartialVendor' ">
    <h2>FAQs for Procucev's GMT Portal.</h2>
    <div class="faq-content-box">
        <div class="query">
            <label>1.</label>
            <label>What is the Procucev GMT Portal?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>Procucev's Get My Quote (GMT) bridges the gap between Buyers and Sellers. Buyers get fast, competitive quotes, while vendors gain access to a pool of active buyers and expand their business.</label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>2.</label>
            <label>What are the benefits of using the GMT Portal?</label>
        </div>
        <div class="ans">
            <ol type="a">
                <li>Access to all/relevant RFQs.</li>
                <li>Streamlined quoting process through direct mail to client.</li>
                <li>Increased visibility to potential clients seeking your services.</li>
                <li>Simplified communication and management of your quotes.</li>
            </ol>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>3.</label>
            <label> Is there a cost to use the GMT Portal?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>The Registration to GMT is completely free of cost. But the Vendors can upgrade to GMT professional by paying a nominal charges as yearly subscription where they will have access to unlimited RFQ’s within India and Outside India</label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>4.</label>
            <label> How do I register for the GMT Portal?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>
                Click the registration <a href="https://qua.procucev.com/login/reg-client" target="_blank"><u>Link</u></a> provided in the email or visit the Procucev website for registration details 
                <a href="https://www.procucev.com" target="_blank"><u>(www.procucev.com)</u></a>
            </label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>5.</label>
            <label>What information is required to register?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>The information includes company details, contact information, and category of procurement, Industry, Pan card number and GST details </label>
        </div>
    </div>

    <div class="faq-content-box">
        <div class="query">
            <label>6.</label>
            <label>I haven't received my login credentials yet. What should I do?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>Click the "Forgot Password" link on the login page and follow the instructions to retrieve your credentials. Still not resolved, connect us at <b style="color: blue;">info@procucev.com</b> with your details. Our associate will connect with you.</label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>7.</label>
            <label>How do I find relevant RFQs?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>Once you login, you will be able to see directly a pool of RFQ’s and you can also search/ filter RFQs based on category </label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>8.</label>
            <label>How do I submit a quote?</label>
        </div>
        <div class="ans">
            <label></label>
            <label>Once you request for RFQ, you will receive a mail to the registered email address along with the RFQ requested. You can directly reply to the mail to send the quotation directly to buyers.</label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>9.</label>
            <label>Can I update or modify my quotes after submission?</label>
        </div>
        <div class="ans" style="    display: block;">
            <label></label>
            <label> We don't take any responsibility after the quote submission. The Buyers will directly contact you for placing the orders</label>
        </div>
    </div>
    <div class="faq-content-box">
        <div class="query">
            <label>10.</label>
            <label>What happens after I submit a quote? </label>
        </div>
        <div class="ans">
            <label></label>
            <label>The Buyers will review the quote and contact you directly. </label>
        </div>
    </div>

</div>
<div class="container-fluid footer-sect">
    <p>For any queries and assistance, Contact:<u>info@procucev.com</u> with your details,</p>
    <p>Our associate will connect with you and assist you.</p>
    <p>Website: www.procucev.com</p>
</div>

