<div class="modal-header">
  <button class="btn btn-warning modal-close-btn" mat-dialog-close>✖</button>
  <div class="col-6">Advance Details </div>
</div>
<div class="modal-body row">
  <form [formGroup]="advncForm" class="col-12 row" novalidate autocomplete="off">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
          <label>PO Basic Amount : </label>
      </div>
      <div class="col-6">
          <label> <span class="label-value">Rs. {{ data?.basicAmount }}</span> </label>
      </div>
  </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-6">
          <label>PO Total Amount(Incl. GST) : </label>
      </div>
      <div class="col-6">
          <label> <span class="label-value">Rs. {{ data?.poValue }}</span> </label>
      </div>
  </div>
  </div>
  <div class="col-6 form-group">
    <label for="priority" style="font-size: medium;" class="form-label required"> Advance Mode</label>
    <select name="advanceMode"  formControlName="advanceMode" class="form-control  required"  >
      <option *ngFor= "let am of advanceModes" [value]="am.codeValue">{{am.codeDesc}}</option>
    </select>
    <div *ngIf="formSubmitted && f.advanceMode.errors" class="invalid-feedback">
      <div *ngIf="f.advanceMode.errors.required">Vendor Name is required</div>
    </div>
  </div>
  <div class="col-6  form-group" >
    <label for="priority"  *ngIf="f.advanceMode.value == 'absolute'" style="font-size: medium;" class="form-label required"> Enter Advance Amount</label>
    <label for="priority" *ngIf="f.advanceMode.value == 'percentage'" style="font-size: medium;" class="form-label required"> Enter Percentage (%) Value</label>
    <input name="advanceValue" formControlName="advanceValue" class="form-control" [placeholder]=" f.advanceMode.value == 'percentage' ? 'Enter Value': 'Enter Amount'" />
  </div>
  <div class="col-6  form-group">
    <label style="font-size: medium;" class="form-label required">Do you Want to include GST</label>
    <mat-radio-group formControlName="includingGst">
      <mat-radio-button class="example-margin" [value]="'true'">Yes</mat-radio-button>
      <mat-radio-button class="example-margin" [value]="'false'">No</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-12">
          <label class="form-label" style="font-size: medium;">Advance Amount : </label>
      </div>
      <div class="col-12">
          <label> <span class="label-value">Rs. {{ f.advanceAmount.value }}</span> </label>
      </div>
  </div>
  </div>
  <div class="col-12">
    <app-common-attachments [isViewOnly]="isPaymentView" [attachments]="this.attachments" (actionEvent)="getAttachedDocsList($event)"></app-common-attachments>
</div>
</form>
</div>
<mat-dialog-actions align="end">
  <span *ngIf="(!isPaymentView && data?.status?.uiDisplay != 'Accepted') && roleName == 'Vendor'">
    <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>
    <button type="button" class="btn btn-primary" (click)="saveAdvancePayment()">Save</button>
  </span>
  <button *ngIf="isPaymentView && roleName == 'ClientInitiator'" type="button" class="btn btn-success" (click)="acceptPayment()">Approve</button>
</mat-dialog-actions>
