.whiteStar{
    color: white;
}
.redStar{
    color: red;
}
.greenStar{
    color: #dce8ce;
}
.border-radius-round{
    border-radius: 30px !important;
    border-top-right-radius: 30px !important; 
    border-bottom-right-radius: 30px !important;
}

.register-vendor-pincode{
    color: #fff  !important;
}

.btn{
    background-color: rgb(74, 74, 185) !important; 
    color: white !important;
    letter-spacing: 1px !important;
}