.title{
    border-bottom: 3px solid rgb(212, 113, 32);
    padding-bottom: 8px;
    margin-bottom: 2rem;
}
.category-name{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin:8px 0;
    border: 1px solid #cccccc30;
    padding: 5px;
    border-radius: 3px;
    font-size: 1.3rem;

}