<p-table dataKey="id" #prqTable [columns]="prTableHeaders" [value]="prTableData" sortMode="multiple"
  [paginator]="true" [rows]="pageRecordSize" id="prqTable" [rowsPerPageOptions]="pageOptions"
  [style]="{'width': '100%'}" exportFilename="roles details" [(selection)]="selectedPrData" [scrollable]="true">
  <ng-template pTemplate="caption">
    <div class="table-search">
      <div class="row">
        <div class="col-sm-6">
          <input class="main-input" type="text" pInputText size="50" placeholder="Search.."
            (input)="prqTable.filterGlobal($event.target.value, 'contains')" />
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <!-- <th style="width: 3rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th> -->
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <!-- <td style="width: 3rem">
        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
      </td> -->
      <td *ngFor="let col of columns" [style.width]="col.width">
        <span *ngIf="!col.isLink">
          <span *ngIf="col.field == 'procucevStatus'">{{rowData[col.field].uiDisplay}}</span>
          <span *ngIf="col.field != 'procucevStatus'">
            <span  *ngIf="col.fieldType == 'text'">{{rowData[col.field]}}</span>
            <span  *ngIf="col.fieldType == 'date'" [title]="rowData[col.field] | date:'dd-MMM-yyyy hh:mm a'">{{rowData[col.field] | date: 'dd-MMM-yyyy'}}</span>
          </span>

        </span>
        <span *ngIf="col.isLink" class="cellLinkCls"> <a href="javascript:void(0);"
            > {{rowData[col.field]}} </a></span>

      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="5" style="text-align:center;">
        No Records Found.
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    <div  *ngIf="prqTable._totalRecords > 0">
      <b>Showing {{prqTable.first+1}} to {{prqTable.first+prqTable.rows > prqTable.totalRecords?prqTable.totalRecords: prqTable.first+prqTable.rows}} of {{prqTable.totalRecords}}</b>
      <!-- <app-page-info [totalRecords]="prTableData?.length" [pageData]="paginatoryDetails"></app-page-info> -->
    </div>
  </ng-template>
</p-table>
