.content-box > div {
    background: #1694e92e;
    padding: 4px;
    min-height: 29px;
}
.content-box label {
    font-weight: 600;
    padding: 0 4px;
    border-bottom: 2px solid #80808000;
    display: block;
    background: #8080801c;
    margin-top: 14px;
    border-left: 4px solid grey;
    border-top: 1px solid #e3e3eb;
}
